DdLM/node-red/flow/flows.json
[{"id":"11ddf0d0.7463ff","type":"tab","label":"background template","disabled":false,"info":""},{"id":"944fc4f3.d52208","type":"tab","label":"timer & language panel","disabled":false,"info":""},{"id":"35692389.3f45bc","type":"tab","label":"control panel","disabled":false,"info":""},{"id":"63ac9dc0.392334","type":"tab","label":"main","disabled":false,"info":""},{"id":"f5de0b7a.456158","type":"tab","label":"alphabet","disabled":false,"info":""},{"id":"a320b9c3.341048","type":"tab","label":"watches / chairs","disabled":false,"info":""},{"id":"1e386f7d.976511","type":"tab","label":"column","disabled":false,"info":""},{"id":"61f701d5.6ab23","type":"tab","label":"hints","disabled":false,"info":""},{"id":"420fa60a.7d5f08","type":"tab","label":"debug console","disabled":false,"info":""},{"id":"9f799377.175f3","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e2aba26.0f77a4","type":"ui_group","z":"","name":"test1","tab":"","order":1,"disp":true,"width":"4","collapse":false},{"id":"3f6a1d66.3b0532","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1f4b4d","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"DdLM","default":"#4B7930","baseColor":"#9d7d53","baseFont":"Courier,monospace","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#9d7d53","edited":true},"page-titlebar-backgroundColor":{"value":"#523f2e","edited":true},"page-backgroundColor":{"value":"#4f3a21","edited":true},"page-sidebar-backgroundColor":{"value":"#503f20","edited":true},"group-textColor":{"value":"#e8c492","edited":true},"group-borderColor":{"value":"#563501","edited":true},"group-backgroundColor":{"value":"#4f3f26","edited":true},"widget-textColor":{"value":"#c7c7c7","edited":true},"widget-backgroundColor":{"value":"#6d532c","edited":true},"widget-borderColor":{"value":"#74552a","edited":true},"base-font":{"value":"Courier,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"DdLM","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":35,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea150136.c128b","type":"ui_group","z":"","name":"test2","tab":"","order":2,"disp":true,"width":"4","collapse":false},{"id":"c9c34a39.aeb688","type":"ui_group","z":"","name":"test3","tab":"","order":3,"disp":true,"width":"4","collapse":false},{"id":"219e6405.6edf3c","type":"ui_spacer","name":"spacer","group":"c9c34a39.aeb688","order":2,"width":3,"height":1},{"id":"a37f66bd.c9a558","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.40","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e51d5aa8.56d648","type":"ui_group","z":"","name":"W5500 num3","tab":"","order":1,"disp":true,"width":4,"collapse":false},{"id":"8dbd85a6.adc448","type":"ui_group","z":"","name":"W5500 num2","tab":"","order":2,"disp":true,"width":4,"collapse":false},{"id":"fddad597.b71c38","type":"ui_group","z":"","name":"ENC28J60","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"2f3c06bf.87a0fa","type":"ui_spacer","name":"spacer","group":"fddad597.b71c38","order":2,"width":3,"height":1},{"id":"a07419ee.dce948","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.60","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d234149.b76a6","type":"ui_group","z":"","name":"first room","tab":"dea0e0df.0112e","order":3,"disp":true,"width":7,"collapse":true},{"id":"7c925900.fce168","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dea0e0df.0112e","type":"ui_tab","z":"","name":"Dia de Los Muertos","icon":"fa-bars","order":1,"disabled":false,"hidden":false},{"id":"e77f9544.7b6e68","type":"ui_group","z":"","name":"props control panel","tab":"dea0e0df.0112e","order":2,"disp":true,"width":4,"collapse":true},{"id":"85958ee1.43fdb","type":"ui_group","z":"","name":"timer","tab":"dea0e0df.0112e","order":1,"disp":true,"width":"5","collapse":true},{"id":"de47e254.13777","type":"ui_tab","z":"","name":"debug console","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"cd62d2eb.3e1dc","type":"ui_group","z":"","name":"sounds","tab":"de47e254.13777","order":2,"disp":true,"width":5,"collapse":false},{"id":"d6209aa5.ef4b78","type":"ui_group","z":"","name":"light","tab":"de47e254.13777","order":3,"disp":true,"width":5,"collapse":false},{"id":"38dcae69.0f1ba2","type":"ui_group","z":"","name":"locks","tab":"de47e254.13777","order":4,"disp":true,"width":5,"collapse":false},{"id":"89c46165.4c012","type":"ui_group","z":"","name":"control","tab":"de47e254.13777","order":5,"disp":true,"width":5,"collapse":false},{"id":"abd81004.3bed2","type":"ui_group","z":"","name":"link state","tab":"de47e254.13777","order":6,"disp":true,"width":6,"collapse":false},{"id":"53ed8cdb.d46f54","type":"ui_group","z":"","name":"props sensors","tab":"de47e254.13777","order":6,"disp":true,"width":5,"collapse":false},{"id":"a52a0307.c3c4","type":"ui_group","z":"","name":"second room","tab":"dea0e0df.0112e","order":4,"disp":true,"width":"7","collapse":true},{"id":"987dc13b.90603","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.70","port":"1883","clientid":"web_ui","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98c84c0d.b7a2f","type":"ui_group","z":"","name":"third room","tab":"dea0e0df.0112e","order":5,"disp":true,"width":7,"collapse":true},{"id":"d743c4c0.edde68","type":"ui_spacer","name":"spacer","group":"85958ee1.43fdb","order":3,"width":5,"height":1},{"id":"f63d329.22c32d","type":"ui_spacer","name":"spacer","group":"85958ee1.43fdb","order":8,"width":5,"height":1},{"id":"39ce3dc4.a2be32","type":"ui_spacer","name":"spacer","group":"85958ee1.43fdb","order":14,"width":5,"height":1},{"id":"808b0b6c.cd72a8","type":"ui_spacer","name":"spacer","group":"e77f9544.7b6e68","order":1,"width":4,"height":1},{"id":"ca2438e6.f88158","type":"ui_spacer","name":"spacer","group":"e77f9544.7b6e68","order":2,"width":4,"height":1},{"id":"48d68605.aa4b48","type":"ui_spacer","name":"spacer","group":"8d234149.b76a6","order":5,"width":7,"height":1},{"id":"19210f38.8ec061","type":"ui_spacer","name":"spacer","group":"8d234149.b76a6","order":10,"width":7,"height":1},{"id":"b6b653ce.cd2db","type":"ui_spacer","name":"spacer","group":"8d234149.b76a6","order":15,"width":2,"height":1},{"id":"a233041b.a5eaf8","type":"ui_spacer","name":"spacer","group":"8d234149.b76a6","order":18,"width":7,"height":1},{"id":"f5fc6fc2.fc688","type":"ui_spacer","name":"spacer","group":"8d234149.b76a6","order":23,"width":7,"height":1},{"id":"7a51305b.c28f8","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":12,"width":7,"height":1},{"id":"8a88a80a.c0d808","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":13,"width":2,"height":1},{"id":"9ab932d5.26ec6","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":17,"width":2,"height":1},{"id":"1888ae12.59f132","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":22,"width":7,"height":1},{"id":"fc47d0fc.efd27","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":23,"width":2,"height":1},{"id":"fbbaea3e.f01228","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":28,"width":1,"height":1},{"id":"bdac4f74.e5409","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":33,"width":7,"height":1},{"id":"34d604e6.4c2f0c","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":34,"width":2,"height":1},{"id":"b0e7305.dde9cd","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":37,"width":3,"height":1},{"id":"ac999b26.d74cb8","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":42,"width":7,"height":1},{"id":"20d6b70f.6142d8","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":43,"width":2,"height":1},{"id":"fdca42e3.0c878","type":"ui_spacer","name":"spacer","group":"a52a0307.c3c4","order":48,"width":1,"height":1},{"id":"dfd5a005.b2a11","type":"ui_spacer","name":"spacer","group":"98c84c0d.b7a2f","order":1,"width":2,"height":1},{"id":"9e525f21.658d8","type":"ui_spacer","name":"spacer","group":"d6209aa5.ef4b78","order":6,"width":5,"height":1},{"id":"3c297a5a.989bd6","type":"ui_spacer","name":"spacer","group":"d6209aa5.ef4b78","order":8,"width":5,"height":1},{"id":"c3c444c3.ba9cc8","type":"ui_spacer","name":"spacer","group":"d6209aa5.ef4b78","order":11,"width":5,"height":1},{"id":"93704cd9.a6aab","type":"ui_spacer","name":"spacer","group":"d6209aa5.ef4b78","order":15,"width":5,"height":1},{"id":"6b5d2b0e.99f214","type":"comment","z":"63ac9dc0.392334","name":"main","info":"","x":190,"y":120,"wires":[]},{"id":"1e65f3db.f1c57c","type":"ui_button","z":"63ac9dc0.392334","name":"solv tiles","group":"98c84c0d.b7a2f","order":9,"width":4,"height":1,"passthru":false,"label":"Tiles","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x905","payloadType":"str","topic":"","x":1200,"y":560,"wires":[["6b47797e.c61858"]]},{"id":"29e9e9fc.08f4b6","type":"mqtt in","z":"63ac9dc0.392334","name":"","topic":"/main_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":280,"y":580,"wires":[["a5707dde.289a4"]]},{"id":"a5707dde.289a4","type":"function","z":"63ac9dc0.392334","name":"str to num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":580,"wires":[["5aca07bb.f37388","ccae2051.825f4","b6c78648.03db28","9fc5ffcb.b9038","c9ee6dc2.0e136","2f3344ba.37196c","4bd77c06.533354","f3a3f044.616ff","384cf301.37f98c","4d207d0e.5116e4","95dce9c1.cadde8","a6c07105.a2e6b","3e11d584.fcaffa","8247ac99.ef0ca"]]},{"id":"66a39d92.79bb54","type":"mqtt in","z":"a320b9c3.341048","name":"","topic":"/client_1_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":170,"y":160,"wires":[["a55abf8d.98d5b"]]},{"id":"a55abf8d.98d5b","type":"function","z":"a320b9c3.341048","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["5b18d132.680d2"]]},{"id":"5b18d132.680d2","type":"function","z":"a320b9c3.341048","name":"win_msg","func":"if(msg.payload == 0x433)\n{\n    msg.payload = true;\n    msg.btn_color = \"green\";\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["57a699da.9fbf28"]]},{"id":"e16c072e.2830f8","type":"comment","z":"a320b9c3.341048","name":"watches","info":"","x":160,"y":100,"wires":[]},{"id":"72d72c82.8b7444","type":"ui_button","z":"a320b9c3.341048","name":"watches","group":"8d234149.b76a6","order":13,"width":4,"height":1,"passthru":false,"label":"watches","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x901","payloadType":"str","topic":"","x":160,"y":580,"wires":[["324246f9.f7deba"]]},{"id":"324246f9.f7deba","type":"mqtt out","z":"a320b9c3.341048","name":"","topic":"/client_1_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":350,"y":580,"wires":[]},{"id":"c29864ce.b63418","type":"function","z":"944fc4f3.d52208","name":"get_date","func":"var date = new Date();\nmsg.payload = ('0'+date.getDate()).slice(-2) + \"/\" + ('0'+date.getMonth()).slice(-2) + \"/\" + date.getFullYear();\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":120,"wires":[["d447deaf.b3157"]]},{"id":"22d26ca.b6b1d94","type":"ui_text","z":"944fc4f3.d52208","group":"85958ee1.43fdb","order":2,"width":5,"height":1,"name":"time","label":"time","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":200,"wires":[],"icon":"node-red-contrib-mytimeout/stopwatch.png"},{"id":"db691837.dd0bb8","type":"change","z":"944fc4f3.d52208","name":"date_src","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":200,"wires":[["4f7c0780.79cd08"]]},{"id":"21668859.02e9e8","type":"ui_button","z":"944fc4f3.d52208","name":"","group":"85958ee1.43fdb","order":5,"width":0,"height":0,"passthru":true,"label":"{{msg.lang_label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$now()","payloadType":"str","topic":"","x":810,"y":320,"wires":[["db691837.dd0bb8","229d4af0.f36376","ac0a6672.c1c958","c0987a5c.124998"]]},{"id":"facf9218.42ce5","type":"looptimer","z":"944fc4f3.d52208","duration":"1","units":"Second","maxloops":"1000000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":1040,"y":180,"wires":[["db691837.dd0bb8"],[]]},{"id":"a5749a4.f224c68","type":"ui_button","z":"944fc4f3.d52208","name":"","group":"85958ee1.43fdb","order":6,"width":0,"height":0,"passthru":false,"label":"{{msg.lang_label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pause","payloadType":"str","topic":"","x":810,"y":420,"wires":[["15ea60a2.6c2f8f"]]},{"id":"4f7c0780.79cd08","type":"function","z":"944fc4f3.d52208","name":"parse_date","func":"var date = new Date();\nmsg.payload = ('0'+date.getHours()).slice(-2) + \":\" + ('0'+date.getMinutes()).slice(-2) + \":\" + ('0'+date.getSeconds()).slice(-2);\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":200,"wires":[["22d26ca.b6b1d94"]]},{"id":"15ea60a2.6c2f8f","type":"function","z":"944fc4f3.d52208","name":"reset_start_flag","func":"var timer_sec = global.get('timer_sec')||0;\nvar timer_min = global.get('timer_min')||0;\nvar timer_hour = global.get('timer_hour')||0;\n\nvar start_timer_flag = global.get('start_timer_flag')||false;\n    \nif(msg.payload == \"pause\")\n{\n    global.set('start_timer_flag', false);\n    msg.start_timer_flag = start_timer_flag;\n    \n    msg.payload = ('0'+timer_hour).slice(-2) + \":\" + ('0'+timer_min).slice(-2) + \":\" + ('0'+timer_sec).slice(-2);\n}\nif(msg.payload == \"reset\")\n{\n    global.set('start_timer_flag', false);\n    msg.start_timer_flag = start_timer_flag;\n    \n    global.set('timer_hour', 0);\n    global.set('timer_min', 0);\n    global.set('timer_sec', 0);\n    \n    timer_sec = global.get('timer_sec');\n    timer_min = global.get('timer_min');\n    timer_hour = global.get('timer_hour');\n    \n    msg.payload = ('0'+timer_hour).slice(-2) + \":\" + ('0'+timer_min).slice(-2) + \":\" + ('0'+timer_sec).slice(-2);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":500,"wires":[["ceff781b.bd42a8"]]},{"id":"229d4af0.f36376","type":"function","z":"944fc4f3.d52208","name":"set_start_flag","func":"global.set('start_timer_flag', true);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":320,"wires":[[]]},{"id":"71baac8e.298024","type":"comment","z":"944fc4f3.d52208","name":"таймер","info":"","x":230,"y":120,"wires":[]},{"id":"ceff781b.bd42a8","type":"ui_text","z":"944fc4f3.d52208","group":"85958ee1.43fdb","order":4,"width":5,"height":2,"name":"timer","label":"","format":"{{msg.payload}}","layout":"col-center","x":1470,"y":500,"wires":[]},{"id":"4d7b49cb.5cd1d8","type":"function","z":"944fc4f3.d52208","name":"calculate_seconds","func":"var start_timer_flag = global.get('start_timer_flag');\nvar start_time = global.get('start_time')||false;\nvar timer_sec = global.get('timer_sec')||0;\nvar timer_min = global.get('timer_min')||0;\nvar timer_hour = global.get('timer_hour')||0;\n\nvar time = new Date();\n\nif(start_timer_flag === true)\n{\n    if(timer_sec == 59 && timer_min == 59)\n    {\n        timer_hour = timer_hour + 1;\n    }\n    global.set('timer_hour', timer_hour);\n    \n    if(timer_sec == 59)\n    {\n        timer_min = timer_min + 1;\n    }\n    global.set('timer_min', timer_min);\n    \n    if(time.getSeconds() >= start_time.getSeconds())\n    {\n        timer_sec = time.getSeconds() - start_time.getSeconds();\n    }\n    else\n    {\n        timer_sec = 60 - (start_time.getSeconds() - time.getSeconds());\n    }\n    global.set('timer_sec', timer_sec);\n    \n    msg.payload = ('0'+timer_hour).slice(-2) + \":\" + ('0'+timer_min).slice(-2) + \":\" + ('0'+timer_sec).slice(-2);\n    return msg;\n}","outputs":1,"noerr":0,"x":1270,"y":380,"wires":[["ceff781b.bd42a8"]]},{"id":"d447deaf.b3157","type":"ui_text","z":"944fc4f3.d52208","group":"85958ee1.43fdb","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":120,"wires":[]},{"id":"417b1bb1.4e05d4","type":"inject","z":"944fc4f3.d52208","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1030,"y":120,"wires":[["c29864ce.b63418","facf9218.42ce5"]]},{"id":"ac0a6672.c1c958","type":"looptimer","z":"944fc4f3.d52208","duration":"1","units":"Second","maxloops":"1000000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":1060,"y":380,"wires":[["4d7b49cb.5cd1d8"],[]]},{"id":"c0987a5c.124998","type":"function","z":"944fc4f3.d52208","name":"store_start_time","func":"var start_time = global.get('start_time')||false;\nstart_time = new Date();\nglobal.set('start_time', start_time);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":440,"wires":[[]]},{"id":"840c29d1.b7fad8","type":"ui_button","z":"944fc4f3.d52208","name":"","group":"85958ee1.43fdb","order":7,"width":0,"height":0,"passthru":true,"label":"{{msg.lang_label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":810,"y":500,"wires":[["15ea60a2.6c2f8f"]]},{"id":"564d3e26.5c524","type":"ui_button","z":"944fc4f3.d52208","name":"","group":"85958ee1.43fdb","order":10,"width":4,"height":1,"passthru":true,"label":"EN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0x1011","payloadType":"str","topic":"","x":210,"y":940,"wires":[["8a8964eb.9c0ec8"]]},{"id":"46762529.2841ac","type":"ui_text","z":"944fc4f3.d52208","group":"85958ee1.43fdb","order":9,"width":0,"height":0,"name":"","label":"{{msg.lang_lable}}","format":"","layout":"col-center","x":690,"y":840,"wires":[]},{"id":"ed8803fb.7899f","type":"ui_button","z":"944fc4f3.d52208","name":"","group":"85958ee1.43fdb","order":12,"width":4,"height":1,"passthru":true,"label":"FR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0x1012","payloadType":"str","topic":"","x":210,"y":1020,"wires":[["8a8964eb.9c0ec8"]]},{"id":"7c333db0.1e6a34","type":"ui_switch","z":"944fc4f3.d52208","name":"","label":"en","tooltip":"","group":"85958ee1.43fdb","order":11,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-volume-up","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-volume-off","offcolor":"dimgrey","x":710,"y":940,"wires":[[]]},{"id":"e833aaf3.298518","type":"ui_switch","z":"944fc4f3.d52208","name":"","label":"fr","tooltip":"","group":"85958ee1.43fdb","order":13,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"fa-volume-up","oncolor":"olivedrab","offvalue":"true","offvalueType":"bool","officon":"fa-volume-off","offcolor":"dimgrey","x":710,"y":980,"wires":[[]]},{"id":"3ba36360.0bd90c","type":"mqtt out","z":"944fc4f3.d52208","name":"","topic":"/broadcast","qos":"0","retain":"false","broker":"987dc13b.90603","x":570,"y":1060,"wires":[]},{"id":"8a8964eb.9c0ec8","type":"function","z":"944fc4f3.d52208","name":"lang_code","func":"var lang_code = global.get('lang_code')||1;\n\nif(msg.payload == \"0x1011\") //EN\n{\n    lang_code = 1;\n    global.set('lang_code', lang_code);\n    msg.lang_code = lang_code;\n}\nelse if(msg.payload == \"0x1012\") //FR\n{\n    lang_code = 2;\n    global.set('lang_code', lang_code);\n    msg.lang_code = lang_code;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":980,"wires":[["3ba36360.0bd90c","ded15e24.54675"]]},{"id":"54a94303.d8b46c","type":"comment","z":"944fc4f3.d52208","name":"языки","info":"","x":150,"y":640,"wires":[]},{"id":"ded15e24.54675","type":"function","z":"944fc4f3.d52208","name":"radio_btn","func":"if(msg.lang_code == 1)\n{\n    msg.payload = true;\n}\nelse if (msg.lang_code == 2)\n{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":980,"wires":[["7c333db0.1e6a34","e833aaf3.298518"]]},{"id":"da555122.5f19f","type":"function","z":"944fc4f3.d52208","name":"lang_start_btn","func":"var if_lang_code = global.get('if_lang_code')||1;\n\nif(if_lang_code == 1) //EN\n{\n    msg.lang_label = \"start\";\n}\nelse if(if_lang_code == 2) //FR\n{\n    msg.lang_label = \"début\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["21668859.02e9e8"]]},{"id":"390d00f.262a2","type":"link out","z":"944fc4f3.d52208","name":"lang_code","links":["92f9ee96.e50cc","68959808.2bf1e8","60843ca8.c3f514"],"x":695,"y":1420,"wires":[]},{"id":"92f9ee96.e50cc","type":"link in","z":"944fc4f3.d52208","name":"lang_code","links":["390d00f.262a2"],"x":175,"y":420,"wires":[["da555122.5f19f","6ef7c732.4012b8","e687c09.7e6b34"]]},{"id":"64d9d7eb.fc69e8","type":"inject","z":"944fc4f3.d52208","name":"","topic":"","payload":"lang_code","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":300,"wires":[["da555122.5f19f","6ef7c732.4012b8","e687c09.7e6b34"]]},{"id":"6ef7c732.4012b8","type":"function","z":"944fc4f3.d52208","name":"lang_pause_btn","func":"var if_lang_code = global.get('if_lang_code')||1;\n\nif(if_lang_code == 1) //EN\n{\n    msg.lang_label = \"pause\";\n}\nelse if(if_lang_code == 2) //FR\n{\n    msg.lang_label = \"pause\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["a5749a4.f224c68"]]},{"id":"e687c09.7e6b34","type":"function","z":"944fc4f3.d52208","name":"lang_reset_btn","func":"var if_lang_code = global.get('if_lang_code')||1;\n\nif(if_lang_code == 1) //EN\n{\n    msg.lang_label = \"reset\";\n}\nelse if(if_lang_code == 2) //FR\n{\n    msg.lang_label = \"réinitialiser\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":500,"wires":[["840c29d1.b7fad8"]]},{"id":"c84e6e7d.8d69a","type":"ui_text","z":"944fc4f3.d52208","group":"85958ee1.43fdb","order":15,"width":5,"height":1,"name":"","label":"{{msg.if_lang_lable}}","format":"","layout":"col-center","x":210,"y":1340,"wires":[]},{"id":"be42eb1d.420d18","type":"ui_dropdown","z":"944fc4f3.d52208","name":"","label":"","tooltip":"","place":"Select option","group":"85958ee1.43fdb","order":16,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"EN","value":1,"type":"num"},{"label":"FR","value":2,"type":"num"}],"payload":"","topic":"","x":360,"y":1420,"wires":[["d51d0546.4e5908"]]},{"id":"d51d0546.4e5908","type":"function","z":"944fc4f3.d52208","name":"if_lang_code","func":"var if_lang_code = global.get('if_lang_code')||1;\n\nif(msg.payload == 1)\n{\n    msg.lang_lable = \"language of sounds\";\n        \n    msg.if_lang_lable = \"interface language\";\n    if_lang_code = 1;\n    global.set('if_lang_code', if_lang_code);\n    msg.if_lang_code = if_lang_code;\n}\nelse if(msg.payload == 2)\n{\n    msg.lang_lable = \"langage des sons\";\n        \n    msg.if_lang_lable = \"langue de l'interface\";\n    if_lang_code = 2;\n    global.set('if_lang_code', if_lang_code);\n    msg.if_lang_code = if_lang_code;\n}\nreturn msg","outputs":1,"noerr":0,"x":550,"y":1420,"wires":[["c84e6e7d.8d69a","390d00f.262a2"]]},{"id":"68959808.2bf1e8","type":"link in","z":"944fc4f3.d52208","name":"lang_code","links":["390d00f.262a2"],"x":575,"y":840,"wires":[["46762529.2841ac"]]},{"id":"68b12fab.0b273","type":"inject","z":"944fc4f3.d52208","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":210,"y":1420,"wires":[["be42eb1d.420d18"]]},{"id":"1b765745.944059","type":"ui_button","z":"35692389.3f45bc","name":"","group":"e77f9544.7b6e68","order":4,"width":0,"height":0,"passthru":false,"label":"reset all","tooltip":"","color":"","bgcolor":"","icon":"fa-undo","payload":"0x302","payloadType":"str","topic":"","x":460,"y":360,"wires":[["7e31119b.abb75","98730f6.f9bd4f","d9babfc6.3da0e","14e8ce40.537e02","de860139.b666b"]]},{"id":"7e31119b.abb75","type":"mqtt out","z":"35692389.3f45bc","name":"","topic":"/broadcast","qos":"0","retain":"false","broker":"987dc13b.90603","x":1070,"y":520,"wires":[]},{"id":"ff14ca19.707278","type":"ui_button","z":"35692389.3f45bc","name":"start/started","group":"e77f9544.7b6e68","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.btn_txt}}","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"0x306","payloadType":"str","topic":"","x":450,"y":600,"wires":[["7e31119b.abb75","f23aca7f.590a18","d78b7cdf.6b5e6","18faacd9.c97403","14e8ce40.537e02","de860139.b666b"]]},{"id":"438daf6a.f8cfe","type":"comment","z":"35692389.3f45bc","name":"панель управления","info":"","x":210,"y":140,"wires":[]},{"id":"8e12a188.a2236","type":"function","z":"35692389.3f45bc","name":"start_btn_text","func":"var start_flag = global.get('start_flag')||0;\n\nif(start_flag == 1)\n{\n    msg.btn_txt = \"started\";\n}\nelse\n{\n    msg.btn_txt = \"start\";  \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":800,"wires":[["480ee4c5.dd6ffc"]]},{"id":"f23aca7f.590a18","type":"function","z":"35692389.3f45bc","name":"set start_flag","func":"var start_flag = global.get('start_flag') || 0;\n\nif(msg.payload == \"0x306\")\n{\n    start_flag = 1;\n    global.set('start_flag', start_flag);\n\n    msg.start_flag = start_flag;\n    return msg;   \n}","outputs":1,"noerr":0,"x":730,"y":720,"wires":[["8e12a188.a2236"]]},{"id":"77b5c217.c379cc","type":"ui_button","z":"35692389.3f45bc","name":"","group":"e77f9544.7b6e68","order":5,"width":0,"height":0,"passthru":false,"label":"sleep","tooltip":"","color":"","bgcolor":"","icon":"fa-window-close","payload":"0x309","payloadType":"str","topic":"","x":450,"y":520,"wires":[["7e31119b.abb75","d9babfc6.3da0e","de860139.b666b"]]},{"id":"66216bc7.f62174","type":"python-function","z":"35692389.3f45bc","name":"mp3_main_sound","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/MAIN/main.mp3\"\n\nif msg['play'] == true:\n    if msg['payload'] == '0x302' or msg['payload'] == '0x309':\n        player2 = Popen(['sudo', 'killall', 'omxplayer.bin'])\n\n            \n    if msg['payload'] == '0x306':\n        player2 = Popen(['omxplayer', track])","outputs":1,"x":1450,"y":360,"wires":[[]]},{"id":"ffad57cd.a64988","type":"comment","z":"1e386f7d.976511","name":"column","info":"","x":130,"y":80,"wires":[]},{"id":"709a672b.110ae8","type":"mqtt in","z":"1e386f7d.976511","name":"","topic":"/client_2_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":250,"y":1160,"wires":[["b669ca73.071058"]]},{"id":"b669ca73.071058","type":"function","z":"1e386f7d.976511","name":"str_2_int","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1160,"wires":[["302b5bee.810064","55afbda8.852e64","26243e88.1baff2","f3b90300.71bad","c4fb5753.421548","3f160efc.92f212","350130b3.84b92","97841fe0.82561","e2ecc080.f090a","de10d557.125098","55f1b8d2.c574d8","ed8f44cc.ef4a08","577611de.b9ed7","6b126dcb.85f254","5e53c583.2869ec","6b2381db.03438","d763e3f6.7ee4","be3d59f6.906dc8","5144b327.98da4c","ea8a4492.f90748"]]},{"id":"302b5bee.810064","type":"function","z":"1e386f7d.976511","name":"smells1","func":"if(msg.payload == 0x481 || msg.payload == 0x48F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x480)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1360,"wires":[["f24a9e13.73e8"]]},{"id":"55afbda8.852e64","type":"function","z":"1e386f7d.976511","name":"smells2","func":"if(msg.payload == 0x482 || msg.payload == 0x48F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x480 || msg.payload == 0x481)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1400,"wires":[["b795da9b.87ea38"]]},{"id":"26243e88.1baff2","type":"function","z":"1e386f7d.976511","name":"smells3","func":"if(msg.payload == 0x484 || msg.payload == 0x48F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x480 || msg.payload == 0x481)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1440,"wires":[["269c16c7.6044fa"]]},{"id":"f3b90300.71bad","type":"function","z":"1e386f7d.976511","name":"smells4","func":"if(msg.payload == 0x488 || msg.payload == 0x48F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x480 || msg.payload == 0x481)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1480,"wires":[["cdf442ba.2d989"]]},{"id":"f24a9e13.73e8","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"s1","tooltip":"","group":"a52a0307.c3c4","order":24,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-flask fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-flask","offcolor":"dimgrey","x":1010,"y":1360,"wires":[[]]},{"id":"b795da9b.87ea38","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"s2","tooltip":"","group":"a52a0307.c3c4","order":25,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-flask fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-flask","offcolor":"dimgrey","x":1010,"y":1400,"wires":[[]]},{"id":"269c16c7.6044fa","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"s3","tooltip":"","group":"a52a0307.c3c4","order":26,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-flask fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-flask","offcolor":"dimgrey","x":1010,"y":1440,"wires":[[]]},{"id":"cdf442ba.2d989","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"s4","tooltip":"","group":"a52a0307.c3c4","order":27,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-flask fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-flask","offcolor":"dimgrey","x":1010,"y":1480,"wires":[[]]},{"id":"c4fb5753.421548","type":"function","z":"1e386f7d.976511","name":"smells_is_solved","func":"if(msg.payload == 0x48F)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x480)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":790,"y":1520,"wires":[["1d208357.13689d","3807262e.bfa1aa","dcb8f0ad.c0d19","6f29832.a25a37c"]]},{"id":"ef1f4dc5.4be8d","type":"python-function","z":"1e386f7d.976511","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/smells_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/smells_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1430,"y":1580,"wires":[[]]},{"id":"1d208357.13689d","type":"function","z":"1e386f7d.976511","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":1580,"wires":[["ef1f4dc5.4be8d"]]},{"id":"ad5c447b.8fb498","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":730,"y":480,"wires":[]},{"id":"5602b08f.cd5a7","type":"comment","z":"420fa60a.7d5f08","name":"light","info":"","x":230,"y":60,"wires":[]},{"id":"e2978ed8.cd6e7","type":"comment","z":"a320b9c3.341048","name":"operator solve button","info":"","x":200,"y":520,"wires":[]},{"id":"53499017.22058","type":"comment","z":"420fa60a.7d5f08","name":"locks","info":"","x":1190,"y":60,"wires":[]},{"id":"50913d00.42c174","type":"comment","z":"420fa60a.7d5f08","name":"sounds","info":"","x":2090,"y":120,"wires":[]},{"id":"e620ac39.a2482","type":"function","z":"420fa60a.7d5f08","name":"hole light","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x32B\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x32C\";\n    return msg; \n}","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["ad5c447b.8fb498"]]},{"id":"163e7226.16f34e","type":"ui_button","z":"420fa60a.7d5f08","name":"","group":"cd62d2eb.3e1dc","order":1,"width":0,"height":0,"passthru":false,"label":"main sound","tooltip":"","color":"silver","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2110,"y":180,"wires":[["d37d2efa.cfc76","37fa5b0b.c37b44"]]},{"id":"d37d2efa.cfc76","type":"link out","z":"420fa60a.7d5f08","name":"main_sound","links":["d6335a1a.c69978"],"x":2275,"y":180,"wires":[]},{"id":"d6335a1a.c69978","type":"link in","z":"35692389.3f45bc","name":"DBG","links":["d37d2efa.cfc76"],"x":1290,"y":300,"wires":[["66216bc7.f62174"]],"l":true},{"id":"e45e1f04.1f69f","type":"ui_button","z":"420fa60a.7d5f08","name":"","group":"89c46165.4c012","order":1,"width":0,"height":0,"passthru":false,"label":"soft reset props","tooltip":"","color":"silver","bgcolor":"","icon":"fa-power-off fa-2x","payload":"0x301","payloadType":"str","topic":"","x":1220,"y":520,"wires":[["3fe22c2f.0062c4"]]},{"id":"6c96753d.c2f2bc","type":"comment","z":"420fa60a.7d5f08","name":"soft reset","info":"","x":1200,"y":460,"wires":[]},{"id":"3fe22c2f.0062c4","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/broadcast","qos":"0","retain":"false","broker":"987dc13b.90603","x":1630,"y":520,"wires":[]},{"id":"98730f6.f9bd4f","type":"function","z":"35692389.3f45bc","name":"global_variables","func":"global.set('start_flag', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":620,"wires":[["8e12a188.a2236"]]},{"id":"1082491f.231fb7","type":"function","z":"1e386f7d.976511","name":"open ???","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x313\";\n    return msg;\n}\nif(msg.payload === false)\n{\n    msg.payload = \"0x314\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1180,"y":1620,"wires":[[]]},{"id":"3807262e.bfa1aa","type":"delay","z":"1e386f7d.976511","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":1620,"wires":[["1082491f.231fb7"]]},{"id":"dcb8f0ad.c0d19","type":"function","z":"1e386f7d.976511","name":"set win flag for change hints","func":"var smells_win_flag = global.get('smells_win_flag');\n\nif(msg.payload === true && !smells_win_flag)\n{\n    smells_win_flag = true;\n    global.set('harp_win_flag', smells_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1080,"y":1660,"wires":[[]]},{"id":"97740ca6.5f6db","type":"python-function","z":"420fa60a.7d5f08","name":"mp3_main_sound","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/home/pi/Desktop/Main_sound.mp3\"\nvol = msg['vol']\n\nif msg['payload'] == '0x302':\n    player2 = Popen(['sudo', 'killall', 'omxplayer.bin'])\n    \nif msg['payload'] == '0x306':\n    player2 = Popen(['omxplayer', '--vol', vol, track])\n    ","outputs":1,"x":2590,"y":120,"wires":[[]]},{"id":"37fa5b0b.c37b44","type":"ui_slider","z":"420fa60a.7d5f08","d":true,"name":"","label":"vol","tooltip":"","group":"cd62d2eb.3e1dc","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"-3000","max":"0","step":1,"x":2270,"y":120,"wires":[["cceacab0.4674d8"]]},{"id":"cceacab0.4674d8","type":"function","z":"420fa60a.7d5f08","name":"","func":"msg.vol = msg.payload.toString(10);\nmsg.payload = '0x306';\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":120,"wires":[["59f6e5ed.c5ee4c","97740ca6.5f6db"]]},{"id":"59f6e5ed.c5ee4c","type":"debug","z":"420fa60a.7d5f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"vol","targetType":"msg","x":2420,"y":180,"wires":[]},{"id":"209bb9c4.d602c6","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":830,"y":1180,"wires":[]},{"id":"d71a6607.2f0448","type":"comment","z":"420fa60a.7d5f08","name":"link state","info":"","x":240,"y":1100,"wires":[]},{"id":"bdeced23.5bc84","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":830,"y":1260,"wires":[]},{"id":"912eedd9.78095","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_1_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":830,"y":1140,"wires":[]},{"id":"b5e92079.40ece","type":"ui_button","z":"420fa60a.7d5f08","name":"","group":"abd81004.3bed2","order":1,"width":0,"height":0,"passthru":false,"label":"ping all","tooltip":"","color":"silver","bgcolor":"","icon":"","payload":"0x30A","payloadType":"str","topic":"","x":240,"y":1200,"wires":[["8096bc7e.2e7a5","7e3033e0.4f5bfc","2c9e03a5.45488c","d9c79dd2.afece","bdb4388a.fc4be8"]]},{"id":"8096bc7e.2e7a5","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1140,"wires":[["912eedd9.78095"]]},{"id":"7e3033e0.4f5bfc","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1180,"wires":[["209bb9c4.d602c6"]]},{"id":"2c9e03a5.45488c","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1260,"wires":[["bdeced23.5bc84"]]},{"id":"e390dc07.b506","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":260,"wires":[]},{"id":"41592ab.e4c19d4","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"2nd room door lock","tooltip":"","group":"38dcae69.0f1ba2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lock fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlock fa-2x","offcolor":"orangered","x":1230,"y":220,"wires":[["8e3dc1df.06365"]]},{"id":"8e3dc1df.06365","type":"function","z":"420fa60a.7d5f08","name":"open 2 door","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x331\";\n    return msg;\n}\nelse if(msg.payload === false)\n{\n    msg.payload = \"0x332\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1410,"y":220,"wires":[["e390dc07.b506"]]},{"id":"74c6478a.4a0d78","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"1st room door lock","tooltip":"","group":"38dcae69.0f1ba2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lock fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlock fa-2x","offcolor":"orangered","x":1230,"y":160,"wires":[["32664da.15736b2"]]},{"id":"32664da.15736b2","type":"function","z":"420fa60a.7d5f08","name":"open 1 door","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x32D\";\n    return msg;\n}\nelse if(msg.payload === false)\n{\n    msg.payload = \"0x32E\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1410,"y":160,"wires":[["e390dc07.b506"]]},{"id":"99e97c70.39c2c","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"3rd room lock","tooltip":"","group":"38dcae69.0f1ba2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lock fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlock fa-2x","offcolor":"orangered","x":1220,"y":280,"wires":[["b20ed69.837d028"]]},{"id":"b20ed69.837d028","type":"function","z":"420fa60a.7d5f08","name":"open 3 door","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x333\";\n    return msg;\n}\nelse if(msg.payload === false)\n{\n    msg.payload = \"0x334\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1410,"y":280,"wires":[["e390dc07.b506"]]},{"id":"3486054d.6b344a","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"exit door lock","tooltip":"","group":"38dcae69.0f1ba2","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lock fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlock fa-2x","offcolor":"orangered","x":1210,"y":340,"wires":[["36449a14.8e9736"]]},{"id":"36449a14.8e9736","type":"function","z":"420fa60a.7d5f08","name":"open exit door","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x335\";\n    return msg;\n}\nelse if(msg.payload === false)\n{\n    msg.payload = \"0x336\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1420,"y":340,"wires":[["e390dc07.b506"]]},{"id":"1ace98f6.c6f647","type":"function","z":"420fa60a.7d5f08","name":"1 room light","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x339\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x33A\";\n    return msg; \n}","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["ad5c447b.8fb498"]]},{"id":"85199bfc.3888c8","type":"function","z":"420fa60a.7d5f08","name":"2 room light","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x33B\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x33C\";\n    return msg; \n}","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["ad5c447b.8fb498"]]},{"id":"7336e36a.0bbc6c","type":"function","z":"420fa60a.7d5f08","name":"3 room light","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x33D\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x33E\";\n    return msg; \n}","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["ad5c447b.8fb498"]]},{"id":"d64cac8e.68a26","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"link m","tooltip":"","group":"abd81004.3bed2","order":9,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-link fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlink fa-2x","offcolor":"orangered","x":1010,"y":1560,"wires":[[]]},{"id":"371285c0.da497a","type":"comment","z":"420fa60a.7d5f08","name":"link state main","info":"","x":250,"y":1380,"wires":[]},{"id":"1764ebed.5dff14","type":"mqtt in","z":"420fa60a.7d5f08","name":"","topic":"/main_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":240,"y":1540,"wires":[["c790fbd0.057ab8"]]},{"id":"c790fbd0.057ab8","type":"function","z":"420fa60a.7d5f08","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1540,"wires":[["bf2ea7a1.3e86d8"]]},{"id":"bacacad4.c29aa8","type":"ui_text","z":"420fa60a.7d5f08","group":"abd81004.3bed2","order":8,"width":5,"height":1,"name":"link state main","label":"main: ","format":"{{msg.text}}","layout":"row-right","x":1040,"y":1520,"wires":[]},{"id":"ac1447a2.f07c28","type":"inject","z":"420fa60a.7d5f08","name":"","topic":"","payload":"0x30A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3.5","x":250,"y":1440,"wires":[["621978ea.2de438"]]},{"id":"621978ea.2de438","type":"looptimer","z":"420fa60a.7d5f08","duration":"30","units":"Second","maxloops":"1000000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"","x":420,"y":1440,"wires":[["bdf2d4e8.412688","d2a29e1a.c018f"],[]]},{"id":"bdf2d4e8.412688","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":810,"y":1440,"wires":[]},{"id":"d2a29e1a.c018f","type":"function","z":"420fa60a.7d5f08","name":"check_link","func":"var link_counter_m = flow.get('link_counter_m') || 0;\n\nif(msg.payload == \"0x30A\")\n{\n    link_counter_m = (link_counter_m < 2) ? link_counter_m + 1 : 2;\n}\n\nif(msg.payload == 0x30D)\n{\n    link_counter_m = 0;\n}\n\nflow.set('link_counter_m', link_counter_m);\nmsg.link = link_counter_m;\n\nif(link_counter_m <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1540,"wires":[["bacacad4.c29aa8","d64cac8e.68a26"]]},{"id":"bf2ea7a1.3e86d8","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":1540,"wires":[["d2a29e1a.c018f"]]},{"id":"287f16fb.22086a","type":"ui_switch","z":"420fa60a.7d5f08","name":"link ch","label":"link ch","tooltip":"","group":"abd81004.3bed2","order":3,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-link fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlink fa-2x","offcolor":"orangered","x":1010,"y":1820,"wires":[[]]},{"id":"f49f578c.a0b148","type":"comment","z":"420fa60a.7d5f08","name":"link state chairs","info":"","x":260,"y":1640,"wires":[]},{"id":"8fa860a7.00f6d","type":"mqtt in","z":"420fa60a.7d5f08","name":"","topic":"/client_1_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":250,"y":1800,"wires":[["919a45d5.c90438"]]},{"id":"919a45d5.c90438","type":"function","z":"420fa60a.7d5f08","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1800,"wires":[["7d3670b5.45ce2"]]},{"id":"de2a3180.520d6","type":"ui_text","z":"420fa60a.7d5f08","group":"abd81004.3bed2","order":2,"width":5,"height":1,"name":"link state: chairs","label":"chairs: ","format":"{{msg.text}}","layout":"row-right","x":1040,"y":1780,"wires":[]},{"id":"97346fb1.7143a","type":"inject","z":"420fa60a.7d5f08","name":"","topic":"","payload":"0x30A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3.6","x":250,"y":1700,"wires":[["644df65b.42cb88"]]},{"id":"644df65b.42cb88","type":"looptimer","z":"420fa60a.7d5f08","duration":"30","units":"Second","maxloops":"1000000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"","x":420,"y":1700,"wires":[["1d25bddd.9b9562","3a725c86.f9e504"],[]]},{"id":"1d25bddd.9b9562","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_1_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":810,"y":1700,"wires":[]},{"id":"3a725c86.f9e504","type":"function","z":"420fa60a.7d5f08","name":"check_link","func":"var link_counter_ch = flow.get('link_counter_ch') || 0;\n\nif(msg.payload == \"0x30A\")\n{\n    link_counter_ch = (link_counter_ch < 2) ? link_counter_ch + 1 : 2;\n}\n\nif(msg.payload == 0x30D)\n{\n    link_counter_ch = 0;\n}\n\nflow.set('link_counter_ch', link_counter_ch);\nmsg.link = link_counter_ch;\n\nif(link_counter_ch <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1800,"wires":[["de2a3180.520d6","287f16fb.22086a"]]},{"id":"7d3670b5.45ce2","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":1800,"wires":[["3a725c86.f9e504"]]},{"id":"803df8a.b7ecb08","type":"ui_switch","z":"420fa60a.7d5f08","name":"link c","label":"link c","tooltip":"","group":"abd81004.3bed2","order":5,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-link fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlink fa-2x","offcolor":"orangered","x":1010,"y":2060,"wires":[[]]},{"id":"3fc9b9fa.f7f006","type":"comment","z":"420fa60a.7d5f08","name":"link state column","info":"","x":260,"y":1880,"wires":[]},{"id":"19a9885d.ae41f8","type":"mqtt in","z":"420fa60a.7d5f08","name":"","topic":"/client_2_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":250,"y":2040,"wires":[["69f11e9f.b886f"]]},{"id":"69f11e9f.b886f","type":"function","z":"420fa60a.7d5f08","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2040,"wires":[["203e0702.472e68"]]},{"id":"bf8d399f.eba198","type":"ui_text","z":"420fa60a.7d5f08","group":"abd81004.3bed2","order":4,"width":5,"height":1,"name":"link state: column","label":"column: ","format":"{{msg.text}}","layout":"row-right","x":1050,"y":2020,"wires":[]},{"id":"dc448414.954b78","type":"inject","z":"420fa60a.7d5f08","name":"","topic":"","payload":"0x30A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3.8","x":250,"y":1940,"wires":[["b89215b6.fea1b8"]]},{"id":"b89215b6.fea1b8","type":"looptimer","z":"420fa60a.7d5f08","duration":"30","units":"Second","maxloops":"1000000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"","x":420,"y":1940,"wires":[["cfdd0956.477858","6f50e830.d04d98"],[]]},{"id":"cfdd0956.477858","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":810,"y":1940,"wires":[]},{"id":"6f50e830.d04d98","type":"function","z":"420fa60a.7d5f08","name":"check_link","func":"var link_counter_c = flow.get('link_counter_c') || 0;\n\nif(msg.payload == \"0x30A\")\n{\n    link_counter_c = (link_counter_c < 2) ? link_counter_c + 1 : 2;\n}\n\nif(msg.payload == 0x30D)\n{\n    link_counter_c = 0;\n}\n\nflow.set('link_counter_c', link_counter_c);\nmsg.link = link_counter_c;\n\nif(link_counter_c <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":2040,"wires":[["bf8d399f.eba198","803df8a.b7ecb08"]]},{"id":"203e0702.472e68","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":2040,"wires":[["6f50e830.d04d98"]]},{"id":"d9c79dd2.afece","type":"looptimer","z":"420fa60a.7d5f08","duration":"1","units":"Second","maxloops":"2","maxtimeout":"4","maxtimeoutunits":"Second","name":"","x":420,"y":1280,"wires":[["43f3d262.03944c"],[]]},{"id":"43f3d262.03944c","type":"link out","z":"420fa60a.7d5f08","name":"ping req","links":["dc1df37.bb82c1","12a15d94.615f22","3aeacf62.79a4d","baab8348.8f5c6"],"x":535,"y":1280,"wires":[]},{"id":"dc1df37.bb82c1","type":"link in","z":"420fa60a.7d5f08","name":"","links":["43f3d262.03944c"],"x":695,"y":1480,"wires":[["bdf2d4e8.412688","d2a29e1a.c018f"]]},{"id":"12a15d94.615f22","type":"link in","z":"420fa60a.7d5f08","name":"","links":["43f3d262.03944c"],"x":695,"y":1740,"wires":[["1d25bddd.9b9562","3a725c86.f9e504"]]},{"id":"3aeacf62.79a4d","type":"link in","z":"420fa60a.7d5f08","name":"","links":["43f3d262.03944c"],"x":695,"y":1980,"wires":[["cfdd0956.477858","6f50e830.d04d98"]]},{"id":"480ee4c5.dd6ffc","type":"function","z":"35692389.3f45bc","name":"buff","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["ff14ca19.707278"]]},{"id":"e4bfc7cc.d1d218","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_11_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_11_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":180,"wires":[[]]},{"id":"ec15e1b9.5fad","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["e4bfc7cc.d1d218"]]},{"id":"d67c1e8d.38f23","type":"ui_button","z":"61f701d5.6ab23","name":"phO1","group":"8d234149.b76a6","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":180,"wires":[["ec15e1b9.5fad"]]},{"id":"86a2f4a6.905a58","type":"comment","z":"61f701d5.6ab23","name":"hint buttons","info":"","x":130,"y":40,"wires":[]},{"id":"6f29832.a25a37c","type":"ui_switch","z":"1e386f7d.976511","name":"smls","label":"state smls","tooltip":"","group":"a52a0307.c3c4","order":32,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1010,"y":1520,"wires":[[]]},{"id":"dabdfa57.39cfb8","type":"ui_switch","z":"63ac9dc0.392334","name":"til1","label":"til1","tooltip":"","group":"98c84c0d.b7a2f","order":2,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-street-view fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":320,"wires":[[]]},{"id":"d78b7cdf.6b5e6","type":"link out","z":"35692389.3f45bc","name":"start timer","links":["faca9a2a.af1918","96daccbd.9bf9d","6dc55ba9.4e6f84","f955da5f.b55f38"],"x":480,"y":660,"wires":[],"l":true},{"id":"faca9a2a.af1918","type":"link in","z":"944fc4f3.d52208","name":"start timer","links":["d78b7cdf.6b5e6"],"x":600,"y":260,"wires":[["da555122.5f19f"]],"outputLabels":["start timer"],"l":true},{"id":"d9babfc6.3da0e","type":"link out","z":"35692389.3f45bc","name":"reset timer","links":["59ea0dca.2ec6e4"],"x":470,"y":440,"wires":[],"inputLabels":["reset timer"],"l":true},{"id":"59ea0dca.2ec6e4","type":"link in","z":"944fc4f3.d52208","name":"reset timer","links":["d9babfc6.3da0e"],"x":600,"y":560,"wires":[["e687c09.7e6b34"]],"outputLabels":["reset timer"],"l":true},{"id":"1a34f8f4.0a8267","type":"function","z":"35692389.3f45bc","name":"legend sound","func":"var lang_code = global.get('lang_code');\n    \nif(msg.payload == '0x306')  \n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":1240,"y":440,"wires":[["8dc8c16f.f518a"]]},{"id":"18faacd9.c97403","type":"delay","z":"35692389.3f45bc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":440,"wires":[["1a34f8f4.0a8267"]]},{"id":"8dc8c16f.f518a","type":"python-function","z":"35692389.3f45bc","name":"legend_sound","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack_1 = \"/media/pi/MP3/MAIN/legend_en.mp3\"\ntrack_2 = \"/media/pi/MP3/MAIN/legend_fr.mp3\"\n    \nif msg['payload'] == '0x306':\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track_1])\n    if msg['lang_code'] == 2:\n        player1 = Popen(['omxplayer', track_2])","outputs":1,"x":1440,"y":440,"wires":[[]]},{"id":"51d055b9.6e86dc","type":"inject","z":"944fc4f3.d52208","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":210,"y":860,"wires":[["564d3e26.5c524"]]},{"id":"83eb517d.d3962","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":710,"y":980,"wires":[]},{"id":"111f6851.0c57b8","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"laser harp power","tooltip":"","group":"d6209aa5.ef4b78","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":270,"y":980,"wires":[["cfdeb2ba.85a72"]]},{"id":"cfdeb2ba.85a72","type":"function","z":"420fa60a.7d5f08","name":"on/off laser harp","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x32B\";\n    return msg;\n}\nelse if(msg.payload === false)\n{\n    msg.payload = \"0x32C\";\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":980,"wires":[["83eb517d.d3962"]]},{"id":"57a699da.9fbf28","type":"ui_switch","z":"a320b9c3.341048","name":"w","label":"w","tooltip":"","group":"8d234149.b76a6","order":14,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check  fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":670,"y":160,"wires":[[]]},{"id":"bdb4388a.fc4be8","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1220,"wires":[["16f444d8.6553ab"]]},{"id":"16f444d8.6553ab","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_3_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":830,"y":1220,"wires":[]},{"id":"3440195a.355776","type":"ui_switch","z":"420fa60a.7d5f08","name":"link a","label":"link a","tooltip":"","group":"abd81004.3bed2","order":7,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-link fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-unlink fa-2x","offcolor":"orangered","x":1010,"y":2300,"wires":[[]]},{"id":"1567dec8.b03f21","type":"comment","z":"420fa60a.7d5f08","name":"link state alphabet","info":"","x":270,"y":2120,"wires":[]},{"id":"6fd3f69e.786f28","type":"mqtt in","z":"420fa60a.7d5f08","name":"","topic":"/client_3_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":250,"y":2280,"wires":[["ec64df2d.b52f8"]]},{"id":"ec64df2d.b52f8","type":"function","z":"420fa60a.7d5f08","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2280,"wires":[["a6852e96.70a46"]]},{"id":"94440c30.5284e","type":"ui_text","z":"420fa60a.7d5f08","group":"abd81004.3bed2","order":6,"width":5,"height":1,"name":"link state: alphabet","label":"alphabet: ","format":"{{msg.text}}","layout":"row-right","x":1050,"y":2260,"wires":[]},{"id":"e1cecd33.fa753","type":"inject","z":"420fa60a.7d5f08","name":"","topic":"","payload":"0x30A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3.8","x":250,"y":2180,"wires":[["4d4b5c72.3603c4"]]},{"id":"4d4b5c72.3603c4","type":"looptimer","z":"420fa60a.7d5f08","duration":"30","units":"Second","maxloops":"1000000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"","x":420,"y":2180,"wires":[["55856df2.abd054","b80ba141.d32dc"],[]]},{"id":"55856df2.abd054","type":"mqtt out","z":"420fa60a.7d5f08","name":"","topic":"/client_3_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":810,"y":2180,"wires":[]},{"id":"b80ba141.d32dc","type":"function","z":"420fa60a.7d5f08","name":"check_link","func":"var link_counter_a = flow.get('link_counter_a') || 0;\n\nif(msg.payload == \"0x30A\")\n{\n    link_counter_a = (link_counter_a < 2) ? link_counter_a + 1 : 2;\n}\n\nif(msg.payload == 0x30D)\n{\n    link_counter_a = 0;\n}\n\nflow.set('link_counter_a', link_counter_a);\nmsg.link = link_counter_a;\n\nif(link_counter_a <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":2280,"wires":[["94440c30.5284e","3440195a.355776"]]},{"id":"a6852e96.70a46","type":"delay","z":"420fa60a.7d5f08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":2280,"wires":[["b80ba141.d32dc"]]},{"id":"baab8348.8f5c6","type":"link in","z":"420fa60a.7d5f08","name":"","links":["43f3d262.03944c"],"x":695,"y":2220,"wires":[["55856df2.abd054","b80ba141.d32dc"]]},{"id":"30df438f.bdad9c","type":"mqtt in","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":190,"y":800,"wires":[["c9a20ea7.77966"]]},{"id":"c9a20ea7.77966","type":"function","z":"f5de0b7a.456158","name":"str_2_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["9e39b2e2.ef992","4985b76b.98c9e8","8effb985.3ef3b8","c6e29803.6b0848","6a42f445.55a0fc","9eb234b.8c475c8"]]},{"id":"9e39b2e2.ef992","type":"function","z":"f5de0b7a.456158","name":"HELP","func":"if(msg.payload == 0x412)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["690efba7.769854"]]},{"id":"4985b76b.98c9e8","type":"function","z":"f5de0b7a.456158","name":"JUAN","func":"if(msg.payload == 0x413)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["b8c5e300.0b3a1","95066abe.630468","a2e6f6bb.fce148","48174676.8bb5e8"]]},{"id":"8effb985.3ef3b8","type":"function","z":"f5de0b7a.456158","name":"MARIA","func":"if(msg.payload == 0x414)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["c75d6538.409078","9e328139.a9a2a","d8957506.89e748","53256ed.8d3d99"]]},{"id":"c6e29803.6b0848","type":"function","z":"f5de0b7a.456158","name":"CARLA","func":"if(msg.payload == 0x415)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":900,"wires":[["5cc04595.94049c","92dcfa55.682818","3266ae4.5091752","70aba44f.f326fc"]]},{"id":"6a42f445.55a0fc","type":"function","z":"f5de0b7a.456158","name":"RAQUEL","func":"if(msg.payload == 0x416)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":1160,"wires":[["8eaba409.c52688","7e4599e8.ae9878","a70357c0.a6b4d8","d84e03f3.000a7"]]},{"id":"9eb234b.8c475c8","type":"function","z":"f5de0b7a.456158","name":"DIEGO","func":"if(msg.payload == 0x417)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":1420,"wires":[["ec06dd.2355b92","230fd281.02bc9e","de662935.36d048","f60a6367.539b9"]]},{"id":"d3998a28.e19e18","type":"function","z":"f5de0b7a.456158","name":"","func":"if(msg.play === true)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1030,"y":180,"wires":[["2cc9a53d.e7ca7a"]]},{"id":"2cc9a53d.e7ca7a","type":"python-function","z":"f5de0b7a.456158","name":"mp3_hint","func":"import os\nimport sys\nfrom subprocess import Popen\n    \nif msg['play'] == True:\n        player1 = Popen(['omxplayer', msg['track']])","outputs":1,"x":1260,"y":180,"wires":[[]]},{"id":"b8c5e300.0b3a1","type":"function","z":"f5de0b7a.456158","name":"chech_lang","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["73153b7.77c39c4"]]},{"id":"73153b7.77c39c4","type":"python-function","z":"f5de0b7a.456158","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/photos_1_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/photos_1_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1260,"y":320,"wires":[[]]},{"id":"c75d6538.409078","type":"function","z":"f5de0b7a.456158","name":"check_lang","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":720,"wires":[["51e50996.5db478"]]},{"id":"51e50996.5db478","type":"python-function","z":"f5de0b7a.456158","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/musical_chairs_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/musical_chairs_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1260,"y":720,"wires":[[]]},{"id":"5cc04595.94049c","type":"function","z":"f5de0b7a.456158","name":"check_lang","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":860,"wires":[["d6c24db7.f74c1"]]},{"id":"d6c24db7.f74c1","type":"python-function","z":"f5de0b7a.456158","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/saint_lady_hands_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/saint_lady_hands_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1260,"y":860,"wires":[[]]},{"id":"8eaba409.c52688","type":"function","z":"f5de0b7a.456158","name":"check_lang","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":1120,"wires":[["e055b570.988bf8"]]},{"id":"e055b570.988bf8","type":"python-function","z":"f5de0b7a.456158","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/photos_2_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/photos_2_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1260,"y":1120,"wires":[[]]},{"id":"ec06dd.2355b92","type":"function","z":"f5de0b7a.456158","name":"check_lang","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":1380,"wires":[["7821af31.b8b7d"]]},{"id":"7821af31.b8b7d","type":"python-function","z":"f5de0b7a.456158","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/ouija_board_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/ouija_board_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1260,"y":1380,"wires":[[]]},{"id":"3bd1e252.27713e","type":"ui_button","z":"f5de0b7a.456158","name":"JUAN","group":"8d234149.b76a6","order":3,"width":4,"height":1,"passthru":false,"label":"Photos old parents","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x901","payloadType":"str","topic":"","x":850,"y":400,"wires":[["444c6ddf.6c2134"]]},{"id":"95066abe.630468","type":"ui_switch","z":"f5de0b7a.456158","name":"ju","label":"ju","tooltip":"","group":"8d234149.b76a6","order":4,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":850,"y":360,"wires":[[]]},{"id":"9e328139.a9a2a","type":"ui_switch","z":"f5de0b7a.456158","name":"ma","label":"ma","tooltip":"","group":"8d234149.b76a6","order":9,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":850,"y":600,"wires":[[]]},{"id":"79ea0c34.36d194","type":"ui_button","z":"f5de0b7a.456158","name":"MARIA","group":"8d234149.b76a6","order":8,"width":4,"height":1,"passthru":false,"label":"Chairs","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x902","payloadType":"str","topic":"","x":860,"y":640,"wires":[["c283028b.ca011"]]},{"id":"92dcfa55.682818","type":"ui_switch","z":"f5de0b7a.456158","name":"ca","label":"ca","tooltip":"","group":"8d234149.b76a6","order":17,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check  fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":850,"y":900,"wires":[[]]},{"id":"8d2d09af.a7a3a8","type":"ui_button","z":"f5de0b7a.456158","name":"CARLA","group":"8d234149.b76a6","order":16,"width":4,"height":1,"passthru":false,"label":"CARLA","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x901","payloadType":"str","topic":"","x":860,"y":940,"wires":[["c035af17.93e43"]]},{"id":"7e4599e8.ae9878","type":"ui_switch","z":"f5de0b7a.456158","name":"ra","label":"ra","tooltip":"","group":"8d234149.b76a6","order":22,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check  fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":850,"y":1160,"wires":[[]]},{"id":"d44f4da7.7c68","type":"ui_button","z":"f5de0b7a.456158","name":"RAQUEL","group":"8d234149.b76a6","order":21,"width":4,"height":1,"passthru":false,"label":"Photos members","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x901","payloadType":"str","topic":"","x":860,"y":1200,"wires":[["1641ed54.1a9133"]]},{"id":"230fd281.02bc9e","type":"ui_switch","z":"f5de0b7a.456158","name":"di","label":"di","tooltip":"","group":"8d234149.b76a6","order":27,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check  fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":850,"y":1420,"wires":[[]]},{"id":"58c02e7d.e0e3a","type":"ui_button","z":"f5de0b7a.456158","name":"DIEGO","group":"8d234149.b76a6","order":26,"width":4,"height":1,"passthru":false,"label":"ouija table","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x901","payloadType":"str","topic":"","x":860,"y":1460,"wires":[["981611f1.d7931"]]},{"id":"11d19c81.ec2593","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_12_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_12_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])\n    ","outputs":1,"x":550,"y":220,"wires":[[]]},{"id":"b86635d5.37bb08","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["11d19c81.ec2593"]]},{"id":"86dcb85f.4faf38","type":"ui_button","z":"61f701d5.6ab23","name":"phO2","group":"8d234149.b76a6","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":220,"wires":[["b86635d5.37bb08"]]},{"id":"b4e56d15.0b1a5","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_21_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_21_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])\n    ","outputs":1,"x":550,"y":300,"wires":[[]]},{"id":"a6c6c52a.574bd8","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["b4e56d15.0b1a5"]]},{"id":"3e204e58.c9be62","type":"ui_button","z":"61f701d5.6ab23","name":"ma1","group":"8d234149.b76a6","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":300,"wires":[["a6c6c52a.574bd8"]]},{"id":"5e132b8e.8dc5d4","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_22_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_22_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":340,"wires":[[]]},{"id":"a3a78587.85f928","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["5e132b8e.8dc5d4"]]},{"id":"bf922284.8e52d","type":"ui_button","z":"61f701d5.6ab23","name":"ma2","group":"8d234149.b76a6","order":7,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":340,"wires":[["a3a78587.85f928"]]},{"id":"75a342d3.b8347c","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_31_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_31_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":440,"wires":[[]]},{"id":"4aae5c77.702ae4","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["75a342d3.b8347c"]]},{"id":"88fdc435.758318","type":"ui_button","z":"61f701d5.6ab23","name":"c1","group":"8d234149.b76a6","order":11,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":440,"wires":[["4aae5c77.702ae4"]]},{"id":"3ffde391.54c84c","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_32_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_32_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":480,"wires":[[]]},{"id":"66df8a4d.6a0e54","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["3ffde391.54c84c"]]},{"id":"39b574c1.f4adac","type":"ui_button","z":"61f701d5.6ab23","name":"c2","group":"8d234149.b76a6","order":12,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":480,"wires":[["66df8a4d.6a0e54"]]},{"id":"e4a87577.a0a008","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_41_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_41_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":580,"wires":[[]]},{"id":"c6683437.244e28","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["e4a87577.a0a008"]]},{"id":"c92e6dd8.134d1","type":"ui_button","z":"61f701d5.6ab23","name":"ph_m_1","group":"8d234149.b76a6","order":19,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":220,"y":580,"wires":[["c6683437.244e28"]]},{"id":"9831a92f.57bd08","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_42_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_42_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":620,"wires":[[]]},{"id":"be7107df.1f6608","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["9831a92f.57bd08"]]},{"id":"32113e29.70f662","type":"ui_button","z":"61f701d5.6ab23","name":"ph_m_2","group":"8d234149.b76a6","order":20,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":220,"y":620,"wires":[["be7107df.1f6608"]]},{"id":"ff8442e7.c8f61","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_51_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_51_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":700,"wires":[[]]},{"id":"c32b621d.b9c4e","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["ff8442e7.c8f61"]]},{"id":"6a90b0ad.148bb","type":"ui_button","z":"61f701d5.6ab23","name":"ou1","group":"8d234149.b76a6","order":24,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":700,"wires":[["c32b621d.b9c4e"]]},{"id":"5fa3bbec.d0d774","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_52_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_52_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":550,"y":740,"wires":[[]]},{"id":"7cef2694.3b7f88","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["5fa3bbec.d0d774"]]},{"id":"945bd36e.9a638","type":"ui_button","z":"61f701d5.6ab23","name":"ou2","group":"8d234149.b76a6","order":25,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":210,"y":740,"wires":[["7cef2694.3b7f88"]]},{"id":"3d8cb3ab.32d79c","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_61_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_61_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":180,"wires":[[]]},{"id":"57eac7fd.23fce8","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":180,"wires":[["3d8cb3ab.32d79c"]]},{"id":"4dce0450.02bc6c","type":"ui_button","z":"61f701d5.6ab23","name":"hh1","group":"a52a0307.c3c4","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":180,"wires":[["57eac7fd.23fce8"]]},{"id":"31961458.341fac","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_62_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_62_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":220,"wires":[[]]},{"id":"c094fd79.d9118","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":220,"wires":[["31961458.341fac"]]},{"id":"c92da070.95363","type":"ui_button","z":"61f701d5.6ab23","name":"hh2","group":"a52a0307.c3c4","order":9,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":220,"wires":[["c094fd79.d9118"]]},{"id":"7e190efc.4ab42","type":"ui_button","z":"1e386f7d.976511","name":"solve harp","group":"a52a0307.c3c4","order":10,"width":4,"height":1,"passthru":false,"label":"Harp","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x331","payloadType":"str","topic":"","x":1010,"y":360,"wires":[["993f5ef9.d8e86"]]},{"id":"3f160efc.92f212","type":"function","z":"1e386f7d.976511","name":"win","func":"if(msg.payload == 0x44F)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["5ccf09cd.0f3458","ac4b4715.8d8348","73d5034b.99566c","3856914a.3fb5be","84326331.5d826"]]},{"id":"a61be1ce.8366a","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h1","tooltip":"","group":"a52a0307.c3c4","order":1,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":500,"wires":[[]]},{"id":"ba5e2b56.fb1ea8","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h2","tooltip":"","group":"a52a0307.c3c4","order":2,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":540,"wires":[[]]},{"id":"39521468.ed39bc","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h3","tooltip":"","group":"a52a0307.c3c4","order":3,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":580,"wires":[[]]},{"id":"8229aa02.c97fb8","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h4","tooltip":"","group":"a52a0307.c3c4","order":4,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":620,"wires":[[]]},{"id":"ae1f3a2b.1b9478","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h5","tooltip":"","group":"a52a0307.c3c4","order":5,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":660,"wires":[[]]},{"id":"3ed42a26.868446","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h6","tooltip":"","group":"a52a0307.c3c4","order":6,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o ","offcolor":"dimgrey","x":990,"y":700,"wires":[[]]},{"id":"5289f185.32c9d","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"h7","tooltip":"","group":"a52a0307.c3c4","order":7,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-dot-circle-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o","offcolor":"dimgrey","x":990,"y":740,"wires":[[]]},{"id":"350130b3.84b92","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x401 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["a61be1ce.8366a"]]},{"id":"97841fe0.82561","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x402 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":540,"wires":[["ba5e2b56.fb1ea8"]]},{"id":"e2ecc080.f090a","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x404 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["39521468.ed39bc"]]},{"id":"de10d557.125098","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x408 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":620,"wires":[["8229aa02.c97fb8"]]},{"id":"55f1b8d2.c574d8","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x410 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["ae1f3a2b.1b9478"]]},{"id":"ed8f44cc.ef4a08","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x420 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["3ed42a26.868446"]]},{"id":"577611de.b9ed7","type":"function","z":"1e386f7d.976511","name":"","func":"if(msg.payload == 0x440 || msg.payload == 0x44F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400 || msg.payload == 0x401)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":740,"wires":[["5289f185.32c9d"]]},{"id":"5ccf09cd.0f3458","type":"ui_switch","z":"1e386f7d.976511","name":"har","label":"har","tooltip":"","group":"a52a0307.c3c4","order":11,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check  fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":990,"y":460,"wires":[[]]},{"id":"7a18bae3.c935b4","type":"python-function","z":"1e386f7d.976511","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/laser_harp_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/laser_harp_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1450,"y":280,"wires":[[]]},{"id":"ac4b4715.8d8348","type":"function","z":"1e386f7d.976511","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["7a18bae3.c935b4"]]},{"id":"73d5034b.99566c","type":"function","z":"1e386f7d.976511","name":"set win flag for change hints","func":"var harp_win_flag = global.get('harp_win_flag');\n\nif(msg.payload === true && !harp_win_flag)\n{\n    harp_win_flag = true;\n    global.set('harp_win_flag', harp_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":320,"wires":[[]]},{"id":"3856914a.3fb5be","type":"function","z":"1e386f7d.976511","name":"lock 2 paint open","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x508\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["3df361d5.f68f1e"]]},{"id":"3df361d5.f68f1e","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":2090,"y":240,"wires":[]},{"id":"6b126dcb.85f254","type":"function","z":"1e386f7d.976511","name":"touch1","func":"if(msg.payload == 0x491 || msg.payload == 0x49F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x490)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":880,"wires":[["f402b923.c13678"]]},{"id":"f402b923.c13678","type":"ui_switch","z":"1e386f7d.976511","name":"t1","label":"","tooltip":"","group":"a52a0307.c3c4","order":14,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-hand-paper-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-hand-paper-o","offcolor":"dimgrey","x":990,"y":880,"wires":[[]]},{"id":"5e53c583.2869ec","type":"function","z":"1e386f7d.976511","name":"touch2","func":"if(msg.payload == 0x492 || msg.payload == 0x49F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x490 || msg.payload == 0x491)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":920,"wires":[["d84734e4.53f3b8"]]},{"id":"d84734e4.53f3b8","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"t2","tooltip":"","group":"a52a0307.c3c4","order":15,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-hand-paper-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-hand-paper-o","offcolor":"dimgrey","x":990,"y":920,"wires":[[]]},{"id":"6b2381db.03438","type":"function","z":"1e386f7d.976511","name":"touch3","func":"if(msg.payload == 0x494 || msg.payload == 0x49F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x490 || msg.payload == 0x491)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":960,"wires":[["476b57e8.d80b98"]]},{"id":"476b57e8.d80b98","type":"ui_switch","z":"1e386f7d.976511","name":"","label":"t3","tooltip":"","group":"a52a0307.c3c4","order":16,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-hand-paper-o fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-hand-paper-o","offcolor":"dimgrey","x":990,"y":960,"wires":[[]]},{"id":"d763e3f6.7ee4","type":"function","z":"1e386f7d.976511","name":"touch_is_solved","func":"if(msg.payload == 0x49F)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x490)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":780,"y":1000,"wires":[["24efc7e3.80cc08","980b51dc.9b7f1","6cd9a8c3.22e5a8","2de9326.a9ff7ce"]]},{"id":"2de9326.a9ff7ce","type":"ui_switch","z":"1e386f7d.976511","name":"tch","label":"state tch","tooltip":"","group":"a52a0307.c3c4","order":21,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":990,"y":1000,"wires":[[]]},{"id":"24efc7e3.80cc08","type":"function","z":"1e386f7d.976511","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[["19ce77db.201ae8"]]},{"id":"980b51dc.9b7f1","type":"delay","z":"1e386f7d.976511","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":1100,"wires":[["eaabe53f.8d5568"]]},{"id":"6cd9a8c3.22e5a8","type":"function","z":"1e386f7d.976511","name":"set win flag for change hints","func":"var touch_win_flag = global.get('touch_win_flag');\n\nif(msg.payload === true && !touch_win_flag)\n{\n    touch_win_flag = true;\n    global.set('touch_win_flag', touch_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":1140,"wires":[[]]},{"id":"19ce77db.201ae8","type":"python-function","z":"1e386f7d.976511","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/touch_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/touch_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1430,"y":1060,"wires":[[]]},{"id":"eaabe53f.8d5568","type":"function","z":"1e386f7d.976511","name":"open ???","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x313\";\n    return msg;\n}\nif(msg.payload === false)\n{\n    msg.payload = \"0x314\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1160,"y":1100,"wires":[[]]},{"id":"9d56b428.0f9dc8","type":"ui_button","z":"1e386f7d.976511","name":"solve touch","group":"a52a0307.c3c4","order":20,"width":4,"height":1,"passthru":false,"label":"Touch","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x333","payloadType":"str","topic":"","x":1010,"y":1180,"wires":[["aeb5fe13.97f24"]]},{"id":"ae3d701e.c2427","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_71_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_71_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":300,"wires":[[]]},{"id":"72fd7594.383bcc","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":300,"wires":[["ae3d701e.c2427"]]},{"id":"ff1a1a47.b5c948","type":"ui_button","z":"61f701d5.6ab23","name":"th1","group":"a52a0307.c3c4","order":18,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":300,"wires":[["72fd7594.383bcc"]]},{"id":"25ba8151.95960e","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_72_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_72_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":340,"wires":[[]]},{"id":"9eb68ca.ae6f47","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["25ba8151.95960e"]]},{"id":"cad92add.5f05d8","type":"ui_button","z":"61f701d5.6ab23","name":"th2","group":"a52a0307.c3c4","order":19,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":340,"wires":[["9eb68ca.ae6f47"]]},{"id":"fe3c75da.789198","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_81_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_81_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":440,"wires":[[]]},{"id":"ee20bf1d.797b3","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["fe3c75da.789198"]]},{"id":"bd1bc35a.50e79","type":"ui_button","z":"61f701d5.6ab23","name":"sh1","group":"a52a0307.c3c4","order":29,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":440,"wires":[["ee20bf1d.797b3"]]},{"id":"6f7dcac.921ad34","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_82_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_82_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":480,"wires":[[]]},{"id":"c859f0e7.a30bd","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":480,"wires":[["6f7dcac.921ad34"]]},{"id":"b3b5c4fa.8369d8","type":"ui_button","z":"61f701d5.6ab23","name":"sh2","group":"a52a0307.c3c4","order":30,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":480,"wires":[["c859f0e7.a30bd"]]},{"id":"4927a206.3e1c9c","type":"ui_button","z":"1e386f7d.976511","name":"solve smells","group":"a52a0307.c3c4","order":31,"width":4,"height":1,"passthru":false,"label":"Smells","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x332","payloadType":"str","topic":"","x":1030,"y":1700,"wires":[["54f4bd84.eff8c4"]]},{"id":"be3d59f6.906dc8","type":"function","z":"1e386f7d.976511","name":"weight1","func":"if(msg.payload == 0x4A1 || msg.payload == 0x4AF)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x4A0)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1860,"wires":[["7c0c8452.5e388c"]]},{"id":"7c0c8452.5e388c","type":"ui_switch","z":"1e386f7d.976511","name":"w1","label":"w1","tooltip":"","group":"a52a0307.c3c4","order":35,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-balance-scale fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-balance-scale","offcolor":"dimgrey","x":1010,"y":1860,"wires":[[]]},{"id":"5144b327.98da4c","type":"function","z":"1e386f7d.976511","name":"weight2","func":"if(msg.payload == 0x4A2 || msg.payload == 0x4AF)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x4A0 || msg.payload == 0x4A1)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":1900,"wires":[["971cab75.11f8b8"]]},{"id":"971cab75.11f8b8","type":"ui_switch","z":"1e386f7d.976511","name":"w2","label":"w2","tooltip":"","group":"a52a0307.c3c4","order":36,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-balance-scale fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-balance-scale","offcolor":"dimgrey","x":1010,"y":1900,"wires":[[]]},{"id":"ea8a4492.f90748","type":"function","z":"1e386f7d.976511","name":"weight_is_solved","func":"if(msg.payload == 0x4AF)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x4A0)\n{\n    msg.payload = false;\n    msg.play = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":790,"y":1940,"wires":[["5843ded3.d9cfd","7d9370a.8c6cc9","8dd10fa5.09c25","db508b46.ead6a8"]]},{"id":"db508b46.ead6a8","type":"ui_switch","z":"1e386f7d.976511","name":"wght","label":"state wght","tooltip":"","group":"a52a0307.c3c4","order":41,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1010,"y":1940,"wires":[[]]},{"id":"5843ded3.d9cfd","type":"function","z":"1e386f7d.976511","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":2000,"wires":[["a4e0d45e.2c72c8"]]},{"id":"7d9370a.8c6cc9","type":"delay","z":"1e386f7d.976511","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":2040,"wires":[["e9142780.62bd68"]]},{"id":"8dd10fa5.09c25","type":"function","z":"1e386f7d.976511","name":"send win flag for hints","func":"var weight_win_flag = global.get('weight_win_flag');\n\nif(msg.payload === true && !weight_win_flag)\n{\n    weight_win_flag = true;\n    global.set('weight_win_flag', weight_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":2080,"wires":[[]]},{"id":"a4e0d45e.2c72c8","type":"python-function","z":"1e386f7d.976511","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/weight_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/weight_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1430,"y":2000,"wires":[[]]},{"id":"e9142780.62bd68","type":"function","z":"1e386f7d.976511","name":"open ???","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x313\";\n    return msg;\n}\nif(msg.payload === false)\n{\n    msg.payload = \"0x314\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1180,"y":2040,"wires":[[]]},{"id":"b87ae5a6.cb4518","type":"ui_button","z":"1e386f7d.976511","name":"solve weight","group":"a52a0307.c3c4","order":40,"width":4,"height":1,"passthru":false,"label":"Weight","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x334","payloadType":"str","topic":"","x":1030,"y":2120,"wires":[["4f9edfcc.e18ee"]]},{"id":"813e10fc.31759","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_91_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_91_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":580,"wires":[[]]},{"id":"2316aec2.899162","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":580,"wires":[["813e10fc.31759"]]},{"id":"e50cbe8e.63969","type":"ui_button","z":"61f701d5.6ab23","name":"wh1","group":"a52a0307.c3c4","order":38,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":580,"wires":[["2316aec2.899162"]]},{"id":"32197fe8.d3ffa","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_92_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_92_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":620,"wires":[[]]},{"id":"c797a021.3c7de","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":620,"wires":[["32197fe8.d3ffa"]]},{"id":"b7ab9884.92cfd8","type":"ui_button","z":"61f701d5.6ab23","name":"wh2","group":"a52a0307.c3c4","order":39,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":620,"wires":[["c797a021.3c7de"]]},{"id":"dac1e156.2101a","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_101_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_101_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":700,"wires":[[]]},{"id":"a9bbfb89.f9adb8","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":700,"wires":[["dac1e156.2101a"]]},{"id":"86e0dbeb.af1068","type":"ui_button","z":"61f701d5.6ab23","name":"ch1","group":"a52a0307.c3c4","order":49,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":700,"wires":[["a9bbfb89.f9adb8"]]},{"id":"8dd25b45.8506f8","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_102_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_102_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1290,"y":740,"wires":[[]]},{"id":"b2975f73.991d6","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":740,"wires":[["8dd25b45.8506f8"]]},{"id":"7c1b6887.40cb08","type":"ui_button","z":"61f701d5.6ab23","name":"ch2","group":"a52a0307.c3c4","order":50,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":950,"y":740,"wires":[["b2975f73.991d6"]]},{"id":"a67d9479.a92898","type":"ui_switch","z":"63ac9dc0.392334","name":"til2","label":"til2","tooltip":"","group":"98c84c0d.b7a2f","order":3,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-street-view fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":360,"wires":[[]]},{"id":"792d5aae.8df1f4","type":"ui_switch","z":"63ac9dc0.392334","name":"til3","label":"til3","tooltip":"","group":"98c84c0d.b7a2f","order":4,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-street-view fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":400,"wires":[[]]},{"id":"b7db0ed1.5f845","type":"ui_switch","z":"63ac9dc0.392334","name":"til4","label":"til4","tooltip":"","group":"98c84c0d.b7a2f","order":5,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-street-view fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":440,"wires":[[]]},{"id":"9162bd44.bdc24","type":"ui_switch","z":"63ac9dc0.392334","name":"til5","label":"til5","tooltip":"","group":"98c84c0d.b7a2f","order":6,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-street-view fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":480,"wires":[[]]},{"id":"5aca07bb.f37388","type":"function","z":"63ac9dc0.392334","name":"tiles win","func":"if(msg.payload == 0x61F)\n{\n    msg.payload = true;\n    msg.play = true;\n    return msg;\n}\nelse if(msg.payload == 0x200)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":920,"y":520,"wires":[["a5f242ae.d3139"]]},{"id":"a5f242ae.d3139","type":"ui_switch","z":"63ac9dc0.392334","name":"til_st","label":"tls","tooltip":"","group":"98c84c0d.b7a2f","order":10,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":520,"wires":[["1413338c.23746c","52730d00.99a264"]]},{"id":"458380c1.003a1","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_111_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_111_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1930,"y":180,"wires":[[]]},{"id":"17e28907.685447","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1770,"y":180,"wires":[["458380c1.003a1"]]},{"id":"1ecac89a.390607","type":"ui_button","z":"61f701d5.6ab23","name":"th1","group":"98c84c0d.b7a2f","order":7,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-comment-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":1590,"y":180,"wires":[["17e28907.685447"]]},{"id":"eab2c0f.f826d4","type":"python-function","z":"61f701d5.6ab23","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/HINTS/hint_112_en.mp3\"\ntrack2 = \"/media/pi/MP3/HINTS/hint_112_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1930,"y":220,"wires":[[]]},{"id":"9779e10e.98a17","type":"function","z":"61f701d5.6ab23","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.payload === true)\n{\n    msg.lang_code = lang_code;\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1770,"y":220,"wires":[["eab2c0f.f826d4"]]},{"id":"8ed12a2e.788698","type":"ui_button","z":"61f701d5.6ab23","name":"th2","group":"98c84c0d.b7a2f","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"silver","bgcolor":"","icon":"fa-commenting-o fa-2x","payload":"true","payloadType":"bool","topic":"","x":1590,"y":220,"wires":[["9779e10e.98a17"]]},{"id":"605fc269.d48d0c","type":"comment","z":"420fa60a.7d5f08","name":"props sensors","info":"","x":1210,"y":700,"wires":[]},{"id":"57a8b047.45e92","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"lamp 1","tooltip":"","group":"d6209aa5.ef4b78","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":230,"y":160,"wires":[["5a3fe14b.641ed"]]},{"id":"5a3fe14b.641ed","type":"function","z":"420fa60a.7d5f08","name":"lamp 1","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x321\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x322\";\n    return msg; \n}","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["ad5c447b.8fb498"]]},{"id":"aa2b80f.613cf8","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"lamp 2","tooltip":"","group":"d6209aa5.ef4b78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":230,"y":220,"wires":[["1d20addf.848da2"]]},{"id":"1d20addf.848da2","type":"function","z":"420fa60a.7d5f08","name":"lamp 2","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x323\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x324\";\n    return msg; \n}","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["ad5c447b.8fb498"]]},{"id":"88bc1497.e59f38","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"lamp 3","tooltip":"","group":"d6209aa5.ef4b78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":230,"y":280,"wires":[["c92bc53f.aef358"]]},{"id":"c92bc53f.aef358","type":"function","z":"420fa60a.7d5f08","name":"lamp 3","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x325\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x326\";\n    return msg; \n}","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["ad5c447b.8fb498"]]},{"id":"93333fa5.b66aa","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"lamp 4","tooltip":"","group":"d6209aa5.ef4b78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":230,"y":340,"wires":[["9a9c1d81.6ef84"]]},{"id":"9a9c1d81.6ef84","type":"function","z":"420fa60a.7d5f08","name":"lamp 4","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x327\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x328\";\n    return msg; \n}","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["ad5c447b.8fb498"]]},{"id":"763054ff.c8b3fc","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"lamp 5","tooltip":"","group":"d6209aa5.ef4b78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":230,"y":400,"wires":[["81f880db.27875"]]},{"id":"81f880db.27875","type":"function","z":"420fa60a.7d5f08","name":"lamp 5","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x329\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x32A\";\n    return msg; \n}","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["ad5c447b.8fb498"]]},{"id":"b0a611d2.3e749","type":"comment","z":"61f701d5.6ab23","name":"hint counter","info":"","x":150,"y":920,"wires":[]},{"id":"d5ac086b.d1ea28","type":"function","z":"61f701d5.6ab23","name":"variables init","func":"juan_win_flag = global.set('juan_win_flag', false);\nmaria_win_flag = global.set('maria_win_flag', false);\ncarla_win_flag = global.set('carla_win_flag', false);\nraquel_win_flag = global.set('raquel_win_flag', false);\ndiego_win_flag = global.set('diego_win_flag', false);\n\nharp_win_flag = global.set('harp_win_flag', false);\ntouch_win_flag = global.set('touch_win_flag', false);\nsmells_win_flag = global.set('smells_win_flag', false);\nweight_win_flag = global.set('weight_win_flag', false);\n\ncolors_win_flag = global.set('colors_win_flag', false);\n\nhint_stage = global.set('hint_stage', 0);\nhint_repeat = global.set('hint_repeat', false);\n\nfog_machine_enable = global.set('fog_machine_enable', false);\nfog_machine_is_on = global.set('fog_machine_is_on', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":980,"wires":[[]]},{"id":"690efba7.769854","type":"function","z":"f5de0b7a.456158","name":"take hint","func":"var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\n\nvar juan_win_flag = global.get('juan_win_flag');\nvar maria_win_flag = global.get('maria_win_flag');\nvar carla_win_flag = global.get('carla_win_flag');\nvar raquel_win_flag = global.get('raquel_win_flag');\nvar diego_win_flag = global.get('diego_win_flag');\n\nvar harp_win_flag = global.get('harp_win_flag');\nvar touch_win_flag = global.get('touch_win_flag');\nvar smells_win_flag = global.get('smells_win_flag');\nvar weight_win_flag = global.get('weight_win_flag');\n\nvar colors_win_flag = global.get('colors_win_flag');\n\nvar hint_stage = global.get('hint_stage');\nvar hint_repeat = global.get('hint_repeat');\n\nif(msg.payload === true)\n{\n    switch(hint_stage)\n    {\n        case 0:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_11_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_11_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_12_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_12_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n \n        case 1:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_21_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_21_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_22_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_22_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;   \n\n        case 2:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_31_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_31_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_32_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_32_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;            \n\n        case 3:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_41_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_41_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_42_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_42_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 4:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_51_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_51_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_52_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_52_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 5:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_61_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_61_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_62_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_62_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 6:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_71_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_71_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_72_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_72_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 7:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_81_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_81_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_82_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_82_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 8:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_91_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_91_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_92_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_92_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 9:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_101_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_101_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_102_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_102_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n            \n        case 10:\n            if(!hint_repeat)\n            {\n                hint_repeat = true;\n                global.set('hint_repeat', hint_repeat);\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_111_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_111_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            else\n            {\n                if(lang_code == 1)\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_112_en.mp3\";\n                }\n                else\n                {\n                    msg.track = \"/media/pi/MP3/HINTS/hint_112_fr.mp3\";\n                }\n                msg.play = true;\n                return msg;\n            }\n            break;\n    }//switch\n}//if","outputs":1,"noerr":0,"x":860,"y":180,"wires":[["d3998a28.e19e18"]]},{"id":"a2e6f6bb.fce148","type":"function","z":"f5de0b7a.456158","name":"set_win_flag","func":"var juan_win_flag = global.get('juan_win_flag');\n\nif(msg.payload === true)\n{\n    juan_win_flag = true;\n    global.set('juan_win_flag', juan_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["df3edfa8.5224c"]]},{"id":"ec0b4353.dbcb4","type":"function","z":"f5de0b7a.456158","name":"change_hint","func":"var juan_win_flag = global.get('juan_win_flag');\nvar maria_win_flag = global.get('maria_win_flag');\nvar carla_win_flag = global.get('carla_win_flag');\nvar raquel_win_flag = global.get('raquel_win_flag');\nvar diego_win_flag = global.get('diego_win_flag');\n\nvar harp_win_flag = global.get('harp_win_flag');\nvar touch_win_flag = global.get('touch_win_flag');\nvar smells_win_flag = global.get('smells_win_flag');\nvar weight_win_flag = global.get('weight_win_flag');\n\nvar colors_win_flag = global.get('colors_win_flag');\n\nvar hint_stage = global.get('hint_stage');\nvar hint_repeat = global.get('hint_repeat');\n\nvar prew_hint_stage;\nprew_hint_stage = hint_stage;\n\nswitch(hint_stage)\n{\n\tcase 0:\n\t\thint_stage = (juan_win_flag) ?  1 : 0;\n\t\tbreak;\n\n\tcase 1:\n\t\thint_stage = (maria_win_flag) ? 2 : 1;\n\t\tbreak;\n\n\tcase 2:\n\t\thint_stage = (carla_win_flag) ? 3 : 2;\n\t\tbreak;\n\n\tcase 3:\n\t\thint_stage = (raquel_win_flag) ? 4 : 3;\n\t\tbreak;\n\n\tcase 4:\n\t\thint_stage = (diego_win_flag) ? 5 : 4;\n\t\tbreak;\n\n\tcase 5:\n\t\thint_stage = (harp_win_flag) ? 6 : 5;\n\t\tbreak;\n\n\tcase 6:\n\t\thint_stage = (touch_win_flag) ? 7 : 6;   \n\t\tbreak;\n\n\tcase 7:\n\t\thint_stage = (smells_win_flag) ? 8 : 7;\n\t\tbreak;\n\n\tcase 8:\n\t\thint_stage = (weight_win_flag) ? 9 : 8;\n\t\tbreak;\n\n\tcase 9:\n\t\thint_stage = (colors_win_flag) ? 10 : 9;\n\t\tbreak;\n}//switch\n\nif(prew_hint_stage != hint_stage)\n{\n    hint_repeat = false;\n    global.set('hint_repeat', hint_repeat);\n}\n\nglobal.set('hint_stage', hint_stage);\nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":100,"wires":[[]]},{"id":"96daccbd.9bf9d","type":"link in","z":"61f701d5.6ab23","name":"start_game","links":["d78b7cdf.6b5e6"],"x":180,"y":980,"wires":[["d5ac086b.d1ea28"]],"l":true},{"id":"1283b450.d5130c","type":"looptimer","z":"f5de0b7a.456158","duration":"1","units":"Second","maxloops":"7200","maxtimeout":"120","maxtimeoutunits":"Minute","name":"check_hint_stage","x":890,"y":100,"wires":[["ec0b4353.dbcb4"],[]]},{"id":"6dc55ba9.4e6f84","type":"link in","z":"f5de0b7a.456158","name":"start","links":["d78b7cdf.6b5e6"],"x":650,"y":100,"wires":[["1283b450.d5130c"]],"l":true},{"id":"de860139.b666b","type":"function","z":"35692389.3f45bc","name":"TODO once start sound","func":"var start_flag = global.get('start_flag') || 0;\n\nif(start_flag === 0)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[["66216bc7.f62174"]]},{"id":"ffa2b042.a3f1a","type":"comment","z":"f5de0b7a.456158","name":"periodic check props state and change hints","info":"","x":770,"y":60,"wires":[]},{"id":"d8957506.89e748","type":"function","z":"f5de0b7a.456158","name":"set_win_flag","func":"var maria_win_flag = global.get('maria_win_flag');\n\nif(msg.payload === true && !maria_win_flag)\n{\n    maria_win_flag = true;\n    global.set('maria_win_flag', maria_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":680,"wires":[["330d59e3.78c636","2b9d66fd.4c1e7a"]]},{"id":"3266ae4.5091752","type":"function","z":"f5de0b7a.456158","name":"set_win_flag","func":"var carla_win_flag = global.get('carla_win_flag');\n\nif(msg.payload === true)\n{\n    carla_win_flag = true;\n    global.set('carla_win_flag', carla_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":980,"wires":[["64c07e5d.fc029"]]},{"id":"a70357c0.a6b4d8","type":"function","z":"f5de0b7a.456158","name":"set_win_flag","func":"var raquel_win_flag = global.get('raquel_win_flag');\n\nif(msg.payload === true)\n{\n    raquel_win_flag = true;\n    global.set('raquel_win_flag', raquel_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":1240,"wires":[["6fe615ab.ec1b1c"]]},{"id":"de662935.36d048","type":"function","z":"f5de0b7a.456158","name":"set_win_flag","func":"var diego_win_flag = global.get('diego_win_flag');\n\nif(msg.payload === true)\n{\n    diego_win_flag = true;\n    global.set('diego_win_flag', diego_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":1500,"wires":[["f1fbb1ed.4f7ca"]]},{"id":"46f8fd39.f3f0e4","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_1_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":640,"wires":[]},{"id":"7176a23f.cc213c","type":"comment","z":"61f701d5.6ab23","name":"1_1","info":"","x":670,"y":180,"wires":[]},{"id":"5f27ecad.361294","type":"comment","z":"61f701d5.6ab23","name":"1_2","info":"","x":670,"y":220,"wires":[]},{"id":"2ead43ff.4cd65c","type":"comment","z":"61f701d5.6ab23","name":"2_1","info":"","x":670,"y":300,"wires":[]},{"id":"48e9c473.7dbe0c","type":"comment","z":"61f701d5.6ab23","name":"2_2","info":"","x":670,"y":340,"wires":[]},{"id":"f9e9b13f.60215","type":"comment","z":"61f701d5.6ab23","name":"3_1","info":"","x":670,"y":440,"wires":[]},{"id":"13ad7146.470bef","type":"comment","z":"61f701d5.6ab23","name":"3_2","info":"","x":670,"y":480,"wires":[]},{"id":"5cf7556e.0ac90c","type":"comment","z":"61f701d5.6ab23","name":"4_1","info":"","x":670,"y":580,"wires":[]},{"id":"d31e7138.b5c6e","type":"comment","z":"61f701d5.6ab23","name":"4_2","info":"","x":670,"y":620,"wires":[]},{"id":"a82c9a4f.e3c718","type":"comment","z":"61f701d5.6ab23","name":"5_1","info":"","x":670,"y":700,"wires":[]},{"id":"89dc3fe6.53f6","type":"comment","z":"61f701d5.6ab23","name":"5_2","info":"","x":670,"y":740,"wires":[]},{"id":"3b0d1d50.8f1842","type":"comment","z":"61f701d5.6ab23","name":"6_1","info":"","x":1410,"y":180,"wires":[]},{"id":"b2160338.acd81","type":"comment","z":"61f701d5.6ab23","name":"6_2","info":"","x":1410,"y":220,"wires":[]},{"id":"d91ccaa0.360418","type":"comment","z":"61f701d5.6ab23","name":"7_1","info":"","x":1410,"y":300,"wires":[]},{"id":"4c8c8e0.7fa1174","type":"comment","z":"61f701d5.6ab23","name":"7_2","info":"","x":1410,"y":340,"wires":[]},{"id":"81b6d0d6.9a69e","type":"comment","z":"61f701d5.6ab23","name":"8_1","info":"","x":1410,"y":440,"wires":[]},{"id":"5129fe94.50cec","type":"comment","z":"61f701d5.6ab23","name":"8_2","info":"","x":1410,"y":480,"wires":[]},{"id":"cbca50f8.047e","type":"comment","z":"61f701d5.6ab23","name":"9_1","info":"","x":1410,"y":580,"wires":[]},{"id":"37709c3c.2aa754","type":"comment","z":"61f701d5.6ab23","name":"9_2","info":"","x":1410,"y":620,"wires":[]},{"id":"1e30e9c5.f685c6","type":"comment","z":"61f701d5.6ab23","name":"10_1","info":"","x":1410,"y":700,"wires":[]},{"id":"72f23ab7.f1c594","type":"comment","z":"61f701d5.6ab23","name":"10_2","info":"","x":1410,"y":740,"wires":[]},{"id":"ec6c2101.711bf","type":"comment","z":"61f701d5.6ab23","name":"11_1","info":"","x":2050,"y":180,"wires":[]},{"id":"5ea3ff81.1cb28","type":"comment","z":"61f701d5.6ab23","name":"11_2","info":"","x":2050,"y":220,"wires":[]},{"id":"b5828c90.781e8","type":"comment","z":"61f701d5.6ab23","name":"1 room hints","info":"","x":210,"y":120,"wires":[]},{"id":"5bdb6784.c77308","type":"comment","z":"61f701d5.6ab23","name":"2 room hints","info":"","x":950,"y":100,"wires":[]},{"id":"56749f58.b0438","type":"comment","z":"61f701d5.6ab23","name":"3 room hints","info":"","x":1590,"y":100,"wires":[]},{"id":"6a3966e0.eca988","type":"ui_template","z":"11ddf0d0.7463ff","group":"e77f9544.7b6e68","name":"background_image","order":6,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/DdLM3.jpg\");\n        background-repeat: no-repeat;\n        /*background-size: contain, cover;*/\n        background-size: cover;\n        background-position: center;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":120,"wires":[[]]},{"id":"bbe39975.b3d948","type":"ui_template","z":"11ddf0d0.7463ff","group":"e77f9544.7b6e68","name":"background colors","order":7,"width":0,"height":0,"format":"\n<style>\n    #Dia_de_Los_Muertos_timer.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n    #Dia_de_Los_Muertos_props_control_panel.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n    #Dia_de_Los_Muertos_first_room.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n    #Dia_de_Los_Muertos_second_room.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n    #Dia_de_Los_Muertos_third_room.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n        \n    #Dia_de_Los_Muertos_hints.ng-scope.visible \n    {\n        background-color: rgba(0,0,0,0.4);\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":260,"wires":[[]]},{"id":"7c5b4e8a.7ceed","type":"comment","z":"944fc4f3.d52208","name":"язык подсказок","info":"","x":240,"y":740,"wires":[]},{"id":"e1bfe430.d0b4f8","type":"comment","z":"944fc4f3.d52208","name":"язык интерфейса","info":"","x":230,"y":1260,"wires":[]},{"id":"e0963940.74f958","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"3 room light","tooltip":"","group":"d6209aa5.ef4b78","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":250,"y":680,"wires":[["7336e36a.0bbc6c"]]},{"id":"f1be218.ab2d9e","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"2 room light","tooltip":"","group":"d6209aa5.ef4b78","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":250,"y":620,"wires":[["85199bfc.3888c8"]]},{"id":"1c78ca3c.effd16","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"1 room light","tooltip":"","group":"d6209aa5.ef4b78","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":250,"y":560,"wires":[["1ace98f6.c6f647"]]},{"id":"62d125e6.47a3ec","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"hole light","tooltip":"","group":"d6209aa5.ef4b78","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":240,"y":480,"wires":[["e620ac39.a2482"]]},{"id":"5dca2477.b48ecc","type":"function","z":"a320b9c3.341048","name":"right chair","func":"if(msg.payload == 0x802)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["3ac138d3.598a28"]]},{"id":"e4110d1.02a60f","type":"function","z":"a320b9c3.341048","name":"wrong chair","func":"if(msg.payload == 0x803)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["b97507f.232d0f8"]]},{"id":"3ac138d3.598a28","type":"python-function","z":"a320b9c3.341048","name":"mp3_ok","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/CHAIRS/chair_ok.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":860,"y":320,"wires":[[]]},{"id":"b97507f.232d0f8","type":"python-function","z":"a320b9c3.341048","name":"mp3_err","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/CHAIRS/chair_err.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":860,"y":360,"wires":[[]]},{"id":"ebb10170.34172","type":"mqtt in","z":"a320b9c3.341048","name":"","topic":"/client_1_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":170,"y":360,"wires":[["3c76f2ed.8f6b0e"]]},{"id":"eabda8c7.0aec28","type":"comment","z":"a320b9c3.341048","name":"chairs","info":"","x":150,"y":300,"wires":[]},{"id":"3c76f2ed.8f6b0e","type":"function","z":"a320b9c3.341048","name":"str_to_int","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["5dca2477.b48ecc","e4110d1.02a60f","761eb8b8.9a31a8"]]},{"id":"651aa922.5bda78","type":"function","z":"a320b9c3.341048","name":"chairs win","func":"if(msg.payload == 0x801)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["fb3e9a4b.1786b8"]]},{"id":"fb3e9a4b.1786b8","type":"python-function","z":"a320b9c3.341048","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/CHAIRS/chair_win.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":860,"y":400,"wires":[[]]},{"id":"761eb8b8.9a31a8","type":"delay","z":"a320b9c3.341048","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":400,"wires":[["651aa922.5bda78"]]},{"id":"330d59e3.78c636","type":"function","z":"f5de0b7a.456158","name":"send_to_chairs","func":"if(msg.payload === true)\n{\n    msg.payload = '0x902';\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":680,"wires":[["46f8fd39.f3f0e4"]]},{"id":"f5b78854.b765d8","type":"python3-function","z":"35692389.3f45bc","d":true,"name":"","func":"import os\nimport sys\nfrom subprocess import Popen, PIPE\nimport time\n\ntrack = \"/media/pi/MP3/Main.mp3\"\n\n\nif msg['payload'] == '0x302' or msg['payload'] == '0x309':\n    # player2 = Popen(['sudo', 'killall', 'omxplayer.bin'])\n    # player2.kill()\n    msg['player'].stdin.write('q')\n        \nif msg['payload'] == '0x306':\n    player_main = Popen(['omxplayer', track], stdin=PIPE, close_fds=True, bufsize=0)\n    msg.player = player_main\n    return msg\n    # global.set('player_main', player_main)\n    # player2.kill()","outputs":1,"x":1050,"y":240,"wires":[["b23628e4.5d1978"]]},{"id":"b23628e4.5d1978","type":"function","z":"35692389.3f45bc","name":"","func":"var player = msg.player;\nglobal.set('player_main', player);\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[[]]},{"id":"14e8ce40.537e02","type":"function","z":"35692389.3f45bc","name":"","func":"var player = global.get('player_main') || 0;\nmsg.player = player;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["f5b78854.b765d8"]]},{"id":"36d7e8ab.1fe4e8","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":2090,"y":360,"wires":[]},{"id":"5a08afae.4036d","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":2110,"y":1700,"wires":[]},{"id":"993f5ef9.d8e86","type":"function","z":"1e386f7d.976511","name":"send once","func":"var harp_win_flag = global.get('harp_win_flag');\n\nif(!harp_win_flag)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1270,"y":360,"wires":[["36d7e8ab.1fe4e8"]]},{"id":"54f4bd84.eff8c4","type":"function","z":"1e386f7d.976511","name":"send once","func":"var smells_win_flag = global.get('smells_win_flag');\n\nif(!smells_win_flag)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1290,"y":1700,"wires":[["5a08afae.4036d"]]},{"id":"851c728a.dcb53","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":2090,"y":1180,"wires":[]},{"id":"aeb5fe13.97f24","type":"function","z":"1e386f7d.976511","name":"send once","func":"var touch_win_flag = global.get('touch_win_flag');\n\nif(!touch_win_flag)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1270,"y":1180,"wires":[["851c728a.dcb53"]]},{"id":"b5804791.6314c8","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":2110,"y":2120,"wires":[]},{"id":"4f9edfcc.e18ee","type":"function","z":"1e386f7d.976511","name":"send once","func":"var weight_win_flag = global.get('weight_win_flag');\n\nif(!weight_win_flag)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1290,"y":2120,"wires":[["b5804791.6314c8"]]},{"id":"c283028b.ca011","type":"function","z":"f5de0b7a.456158","name":"set ui \"win sign\"","func":"var maria_win_flag = global.get('maria_win_flag');\n\nif(!maria_win_flag)\n{\n    msg.payload = \"0x414\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":600,"wires":[["3cefcba4.2061a4","46f8fd39.f3f0e4"]]},{"id":"3cefcba4.2061a4","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1680,"y":600,"wires":[]},{"id":"444c6ddf.6c2134","type":"function","z":"f5de0b7a.456158","name":"set ui \"win sign\"","func":"var juan_win_flag = global.get('juan_win_flag');\n\nif(!juan_win_flag)\n{\n    msg.payload = \"0x413\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[["5d1c46df.79aaf8"]]},{"id":"5d1c46df.79aaf8","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1680,"y":400,"wires":[]},{"id":"48174676.8bb5e8","type":"function","z":"f5de0b7a.456158","name":"turn on lamp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x321';\n    return msg;    \n}","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["bffb5a35.40c978"]]},{"id":"bffb5a35.40c978","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":480,"wires":[]},{"id":"cfaaa27d.ad5f1","type":"function","z":"420fa60a.7d5f08","name":"bridge light","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x337\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x338\";\n    return msg; \n}","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["ad5c447b.8fb498"]]},{"id":"b0201423.adfc08","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"bridge lasers","tooltip":"","group":"d6209aa5.ef4b78","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-2x","offcolor":"orangered","x":250,"y":840,"wires":[["9c12720.774e89"]]},{"id":"9c12720.774e89","type":"function","z":"420fa60a.7d5f08","name":"bridge lasers","func":"if(msg.payload === true)\n{\n    msg.payload = \"0x341\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"0x342\";\n    return msg; \n}","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["ad5c447b.8fb498"]]},{"id":"5d803e15.951a8","type":"ui_switch","z":"420fa60a.7d5f08","name":"","label":"light bridge","tooltip":"","group":"d6209aa5.ef4b78","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-3x","oncolor":"gold","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x","offcolor":"silver","x":250,"y":780,"wires":[["cfaaa27d.ad5f1"]]},{"id":"53256ed.8d3d99","type":"function","z":"f5de0b7a.456158","name":"turn on lamp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x323';\n    return msg;    \n}","outputs":1,"noerr":0,"x":870,"y":760,"wires":[["4049de0.9c14424"]]},{"id":"4049de0.9c14424","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":761,"wires":[]},{"id":"70aba44f.f326fc","type":"function","z":"f5de0b7a.456158","name":"turn on lamp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x325';\n    return msg;    \n}","outputs":1,"noerr":0,"x":870,"y":1020,"wires":[["b30589e2.79e668"]]},{"id":"b30589e2.79e668","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":1020,"wires":[]},{"id":"d84e03f3.000a7","type":"function","z":"f5de0b7a.456158","name":"turn on lamp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x327';\n    return msg;    \n}","outputs":1,"noerr":0,"x":870,"y":1280,"wires":[["5469fa46.7c7f94"]]},{"id":"5469fa46.7c7f94","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":1280,"wires":[]},{"id":"f60a6367.539b9","type":"function","z":"f5de0b7a.456158","name":"turn on lamp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x329';\n    return msg;    \n}","outputs":1,"noerr":0,"x":870,"y":1540,"wires":[["3e3b29cd.771726"]]},{"id":"3e3b29cd.771726","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1670,"y":1540,"wires":[]},{"id":"d1163895.a2ab38","type":"function","z":"f5de0b7a.456158","name":"lock 2 room open","func":"if(msg.payload === true)\n{\n    msg.payload = '0x332';\n    return msg;    \n}","outputs":1,"noerr":0,"x":930,"y":1800,"wires":[["c0b55972.e7b348"]]},{"id":"a1c5966c.624348","type":"function","z":"f5de0b7a.456158","name":"light 2 room on","func":"if(msg.payload === true)\n{\n    msg.payload = '0x33B';\n    return msg;    \n}","outputs":1,"noerr":0,"x":920,"y":1840,"wires":[["c0b55972.e7b348"]]},{"id":"c7cb6a78.6a4f18","type":"function","z":"f5de0b7a.456158","name":"light hole on","func":"if(msg.payload === true)\n{\n    msg.payload = '0x32B';\n    return msg;    \n}","outputs":1,"noerr":0,"x":910,"y":1880,"wires":[["c0b55972.e7b348"]]},{"id":"c0b55972.e7b348","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/main_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1310,"y":1920,"wires":[]},{"id":"f8926206.576fd","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1800,"wires":[["d1163895.a2ab38"]]},{"id":"2d63fc29.dc4d24","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1840,"wires":[["a1c5966c.624348"]]},{"id":"2254a5f0.284dba","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1880,"wires":[["c7cb6a78.6a4f18"]]},{"id":"b18910a8.83a65","type":"function","z":"f5de0b7a.456158","name":"check_all_win_flags","func":"var juan_win_flag = global.get('juan_win_flag', false);\nvar maria_win_flag = global.get('maria_win_flag', false);\nvar carla_win_flag = global.get('carla_win_flag', false);\nvar raquel_win_flag = global.get('raquel_win_flag', false);\nvar diego_win_flag = global.get('diego_win_flag', false);\n\nif(juan_win_flag && maria_win_flag && carla_win_flag \n    && raquel_win_flag && diego_win_flag)\n{\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":1940,"wires":[["f8926206.576fd","2d63fc29.dc4d24","2254a5f0.284dba","a1c94945.3faa58","d972e52d.c54f68","ad594e9e.d7a4","9b857f8d.75ebd","34261eaf.fb9da2","56406da4.7d07a4"]]},{"id":"53a050cd.35ca3","type":"link in","z":"f5de0b7a.456158","name":"win_flags","links":["f1fbb1ed.4f7ca","6fe615ab.ec1b1c","64c07e5d.fc029","df3edfa8.5224c","2b9d66fd.4c1e7a"],"x":200,"y":1940,"wires":[["b18910a8.83a65"]],"l":true},{"id":"f1fbb1ed.4f7ca","type":"link out","z":"f5de0b7a.456158","name":"win_flag_is_changed","links":["53a050cd.35ca3"],"x":1080,"y":1500,"wires":[],"l":true},{"id":"6fe615ab.ec1b1c","type":"link out","z":"f5de0b7a.456158","name":"win_flag_is_changed","links":["53a050cd.35ca3"],"x":1080,"y":1240,"wires":[],"l":true},{"id":"64c07e5d.fc029","type":"link out","z":"f5de0b7a.456158","name":"win_flag_is_changed","links":["53a050cd.35ca3"],"x":1080,"y":980,"wires":[],"l":true},{"id":"df3edfa8.5224c","type":"link out","z":"f5de0b7a.456158","name":"win_flag_is_changed","links":["53a050cd.35ca3"],"x":1080,"y":440,"wires":[],"l":true},{"id":"2b9d66fd.4c1e7a","type":"link out","z":"f5de0b7a.456158","name":"win_flag_is_changed","links":["53a050cd.35ca3"],"x":1080,"y":640,"wires":[],"l":true},{"id":"f239ca69.76f4d8","type":"comment","z":"f5de0b7a.456158","name":"check first room win","info":"","x":250,"y":1740,"wires":[]},{"id":"2f3344ba.37196c","type":"function","z":"63ac9dc0.392334","name":"colors_is_solved","func":"if(msg.payload == 0x40F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":880,"wires":[["2f108693.3c76aa","8f8b5d33.01f01","60795bc.82271a4"]]},{"id":"20f59a7c.d03736","type":"ui_switch","z":"63ac9dc0.392334","name":"","label":"c4","tooltip":"","group":"a52a0307.c3c4","order":47,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-asterisk fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-asterisk","offcolor":"dimgrey","x":1190,"y":840,"wires":[[]]},{"id":"1fc09020.ecd18","type":"ui_switch","z":"63ac9dc0.392334","name":"","label":"c1","tooltip":"","group":"a52a0307.c3c4","order":44,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-asterisk fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-asterisk","offcolor":"dimgrey","x":1190,"y":720,"wires":[[]]},{"id":"bdbd6905.533c18","type":"ui_switch","z":"63ac9dc0.392334","name":"c2","label":"c2","tooltip":"","group":"a52a0307.c3c4","order":45,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-asterisk fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-asterisk","offcolor":"dimgrey","x":1190,"y":760,"wires":[[]]},{"id":"59b4bdf8.3876c4","type":"ui_switch","z":"63ac9dc0.392334","name":"","label":"c3","tooltip":"","group":"a52a0307.c3c4","order":46,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-asterisk fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-asterisk","offcolor":"dimgrey","x":1190,"y":800,"wires":[[]]},{"id":"ccae2051.825f4","type":"function","z":"63ac9dc0.392334","name":"color1","func":"if(msg.payload >= 0x401 && msg.payload <= 0x40F)\n{\n    if(msg.payload & 0x01 || msg.payload == 0x40F)\n    {\n        msg.payload = true;\n        return msg;\n    }\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":720,"wires":[["1fc09020.ecd18"]]},{"id":"b6c78648.03db28","type":"function","z":"63ac9dc0.392334","name":"color2","func":"if(msg.payload >= 0x401 && msg.payload <= 0x40F)\n{\n    if(msg.payload & 0x02 || msg.payload == 0x40F)\n    {\n        msg.payload = true;\n        return msg;\n    }\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":760,"wires":[["bdbd6905.533c18"]]},{"id":"9fc5ffcb.b9038","type":"function","z":"63ac9dc0.392334","name":"color3","func":"if(msg.payload >= 0x401 && msg.payload <= 0x40F)\n{\n    if(msg.payload & 0x04 || msg.payload == 0x40F)\n    {\n        msg.payload = true;\n        return msg;\n    }\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":800,"wires":[["59b4bdf8.3876c4"]]},{"id":"c9ee6dc2.0e136","type":"function","z":"63ac9dc0.392334","name":"color4","func":"if(msg.payload >= 0x401 && msg.payload <= 0x40F)\n{\n    if(msg.payload & 0x08 || msg.payload == 0x40F)\n    {\n        msg.payload = true;\n        return msg;\n    }\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x400)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":840,"wires":[["20f59a7c.d03736"]]},{"id":"afcb1bf4.117a98","type":"python-function","z":"63ac9dc0.392334","name":"mp3","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/flowers_en.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/flowers_fr.mp3\"\n    \nif msg['play'] == True:\n    if msg['lang_code'] == 1:\n        player1 = Popen(['omxplayer', track1])\n    if msg['lang_code'] == 2:\n        player2 = Popen(['omxplayer', track2])","outputs":1,"x":1650,"y":940,"wires":[[]]},{"id":"2f108693.3c76aa","type":"function","z":"63ac9dc0.392334","name":"","func":"var lang_code = global.get('lang_code');\n\nif(msg.play === true)\n{\n    msg.lang_code = lang_code;\n    return msg;\n}","outputs":1,"noerr":0,"x":1190,"y":940,"wires":[["afcb1bf4.117a98"]]},{"id":"8f8b5d33.01f01","type":"ui_switch","z":"63ac9dc0.392334","name":"color","label":"state clr","tooltip":"","group":"a52a0307.c3c4","order":52,"width":1,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check fa-2x","oncolor":"olivedrab","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"dimgrey","x":1190,"y":880,"wires":[[]]},{"id":"cc489ef4.55a2d","type":"ui_button","z":"63ac9dc0.392334","name":"solve colors","group":"a52a0307.c3c4","order":51,"width":4,"height":1,"passthru":false,"label":"Colored symbols","tooltip":"","color":"silver","bgcolor":"","icon":"fa-magic","payload":"0x906","payloadType":"str","topic":"","x":1210,"y":1020,"wires":[["2fd37cd8.f16a14"]]},{"id":"2fd37cd8.f16a14","type":"function","z":"63ac9dc0.392334","name":"send once","func":"msg.payload = \"0x501\";\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1020,"wires":[["629c5c5a.a8c104"]]},{"id":"4bd77c06.533354","type":"function","z":"63ac9dc0.392334","name":"","func":"if(msg.payload == 0x601 || msg.payload == 0x61F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x600)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["dabdfa57.39cfb8"]]},{"id":"f3a3f044.616ff","type":"function","z":"63ac9dc0.392334","name":"","func":"if(msg.payload == 0x602 || msg.payload == 0x61F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x600 || msg.payload == 0x601)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["a67d9479.a92898"]]},{"id":"384cf301.37f98c","type":"function","z":"63ac9dc0.392334","name":"","func":"if(msg.payload == 0x604 || msg.payload == 0x61F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x600 || msg.payload == 0x601)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":400,"wires":[["792d5aae.8df1f4"]]},{"id":"4d207d0e.5116e4","type":"function","z":"63ac9dc0.392334","name":"","func":"if(msg.payload == 0x608 || msg.payload == 0x61F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x600 || msg.payload == 0x601)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["b7db0ed1.5f845"]]},{"id":"95dce9c1.cadde8","type":"function","z":"63ac9dc0.392334","name":"","func":"if(msg.payload == 0x610 || msg.payload == 0x61F)\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload == 0x200 || msg.payload == 0x600 || msg.payload == 0x601)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":480,"wires":[["9162bd44.bdc24"]]},{"id":"60795bc.82271a4","type":"function","z":"63ac9dc0.392334","name":"set_win_flag","func":"var colors_win_flag = global.get('colors_win_flag');\n\nif(msg.payload === true)\n{\n    colors_win_flag = true;\n    global.set('colors_win_flag', colors_win_flag);\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":980,"wires":[[]]},{"id":"6b47797e.c61858","type":"function","z":"63ac9dc0.392334","name":"set ui \"win sign\"","func":"msg.payload = \"0x503\";\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":560,"wires":[["936025ee.84e258"]]},{"id":"936025ee.84e258","type":"mqtt out","z":"63ac9dc0.392334","name":"","topic":"/main_sub","qos":"","retain":"","broker":"987dc13b.90603","x":1850,"y":560,"wires":[]},{"id":"629c5c5a.a8c104","type":"mqtt out","z":"63ac9dc0.392334","name":"","topic":"/main_sub","qos":"","retain":"","broker":"987dc13b.90603","x":1850,"y":1020,"wires":[]},{"id":"8247ac99.ef0ca","type":"function","z":"63ac9dc0.392334","name":"right tail","func":"if(msg.payload == 0x802)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["20731939.2a08e6"]]},{"id":"3e11d584.fcaffa","type":"function","z":"63ac9dc0.392334","name":"wrong tail","func":"if(msg.payload == 0x803)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":920,"y":220,"wires":[["9aa31f09.e915f"]]},{"id":"20731939.2a08e6","type":"python-function","z":"63ac9dc0.392334","name":"mp3_ok","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/TAILS/tail_ok.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":1280,"y":180,"wires":[[]]},{"id":"9aa31f09.e915f","type":"python-function","z":"63ac9dc0.392334","name":"mp3_err","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/TAILS/tail_err.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":1280,"y":220,"wires":[[]]},{"id":"5af585c0.f0c7ec","type":"function","z":"63ac9dc0.392334","name":"tiles win","func":"if(msg.payload == 0x61F)\n{\n    msg.play = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1100,"y":260,"wires":[["7e91357e.110ddc"]]},{"id":"7e91357e.110ddc","type":"python-function","z":"63ac9dc0.392334","name":"mp3_win","func":"import os\nimport sys\nfrom subprocess import Popen\n\ntrack = \"/media/pi/MP3/TAILS/tail_win.mp3\"\n    \nif msg['play'] == True:\n    player = Popen(['omxplayer', track])","outputs":1,"x":1280,"y":260,"wires":[[]]},{"id":"a6c07105.a2e6b","type":"delay","z":"63ac9dc0.392334","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":260,"wires":[["5af585c0.f0c7ec"]]},{"id":"84326331.5d826","type":"delay","z":"1e386f7d.976511","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":420,"wires":[["61dbda05.86f9c4"]]},{"id":"61dbda05.86f9c4","type":"function","z":"1e386f7d.976511","name":"turn-off laser harp","func":"if(msg.payload === true)\n{\n    msg.payload = '0x32C';\n    return msg;\n}","outputs":1,"noerr":0,"x":1290,"y":420,"wires":[["36d7e8ab.1fe4e8"]]},{"id":"9ebd10.d6dd72f","type":"function","z":"1e386f7d.976511","name":"fog-mashine control","func":"var juan_win_flag = global.get('juan_win_flag');\nvar maria_win_flag = global.get('maria_win_flag');\nvar carla_win_flag = global.get('carla_win_flag');\nvar raquel_win_flag = global.get('raquel_win_flag');\nvar diego_win_flag = global.get('diego_win_flag');\n\nvar fog_machine_is_on = global.get('fog_machine_is_on');\n\nvar counter;\n\ncounter = 0;\ncounter = juan_win_flag + maria_win_flag + carla_win_flag + raquel_win_flag + diego_win_flag;\nif(counter >= 3 && !fog_machine_is_on)\n{\n    fog_machine_is_on = true;\n    global.set('fog_machine_is_on', fog_machine_is_on);\n    \n    msg.payload = '0x321';  //fog machine ~220V on\n    return msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":2420,"wires":[["921f47f3.dfa0b8"]]},{"id":"1939f7ad.874488","type":"looptimer","z":"1e386f7d.976511","duration":"10","units":"Second","maxloops":"1200","maxtimeout":"2","maxtimeoutunits":"Hour","name":"","x":980,"y":2640,"wires":[["e9a3a52b.6111d8"],[]]},{"id":"51f44a44.83ff54","type":"trigger","z":"1e386f7d.976511","op1":"0x32D","op2":"0x32E","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1440,"y":2640,"wires":[["67df4d0a.95e354"]]},{"id":"79e3b47a.c9f49c","type":"comment","z":"1e386f7d.976511","name":"fog machine","info":"","x":250,"y":2260,"wires":[]},{"id":"ee3f57cc.3ecf78","type":"looptimer","z":"1e386f7d.976511","duration":"10","units":"Second","maxloops":"720","maxtimeout":"2","maxtimeoutunits":"Hour","name":"","x":580,"y":2420,"wires":[["9ebd10.d6dd72f"],[]]},{"id":"f955da5f.b55f38","type":"link in","z":"1e386f7d.976511","name":"start","links":["d78b7cdf.6b5e6"],"x":370,"y":2420,"wires":[["ee3f57cc.3ecf78"]],"l":true},{"id":"921f47f3.dfa0b8","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1050,"y":2420,"wires":[]},{"id":"e9a3a52b.6111d8","type":"function","z":"1e386f7d.976511","name":"if fog machine enable","func":"var fog_machine_enable = global.get('fog_machine_enable');\n\nif(fog_machine_enable === true)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1220,"y":2640,"wires":[["51f44a44.83ff54"]]},{"id":"67df4d0a.95e354","type":"mqtt out","z":"1e386f7d.976511","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1630,"y":2640,"wires":[]},{"id":"4e83b479.323a0c","type":"comment","z":"1e386f7d.976511","name":"fog machine ~220V on","info":"","x":420,"y":2360,"wires":[]},{"id":"cf0acfae.c7a02","type":"comment","z":"1e386f7d.976511","name":"fog loop for laser harp","info":"","x":420,"y":2500,"wires":[]},{"id":"86f42aab.cb7f18","type":"mqtt in","z":"1e386f7d.976511","name":"","topic":"/client_2_pub","qos":"0","datatype":"auto","broker":"987dc13b.90603","x":390,"y":2560,"wires":[["c933f84d.3167a8"]]},{"id":"c933f84d.3167a8","type":"function","z":"1e386f7d.976511","name":"str_2_int","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":2560,"wires":[["4a1e75b2.9c44ec"]]},{"id":"4a1e75b2.9c44ec","type":"function","z":"1e386f7d.976511","name":"fog machine enable / disable","func":"if(msg.payload == 0x335)\n{\n    global.set('fog_machine_enable', true);\n    return msg;\n}\nelse if(msg.payload == 0x336)\n{\n    global.set('fog_machine_enable', false);\n    return msg;   \n}","outputs":1,"noerr":0,"x":780,"y":2560,"wires":[["1939f7ad.874488"]]},{"id":"c035af17.93e43","type":"function","z":"f5de0b7a.456158","name":"set ui \"win sign\"","func":"var carla_win_flag = global.get('carla_win_flag');\n\nif(!carla_win_flag)\n{\n    msg.payload = \"0x415\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":940,"wires":[["557384b1.a36e0c"]]},{"id":"557384b1.a36e0c","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1680,"y":940,"wires":[]},{"id":"1641ed54.1a9133","type":"function","z":"f5de0b7a.456158","name":"set ui \"win sign\"","func":"var raquel_win_flag = global.get('raquel_win_flag');\n\nif(!raquel_win_flag)\n{\n    msg.payload = \"0x416\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":1200,"wires":[["73259e64.9eb"]]},{"id":"73259e64.9eb","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1680,"y":1200,"wires":[]},{"id":"981611f1.d7931","type":"function","z":"f5de0b7a.456158","name":"set ui \"win sign\"","func":"var diego_win_flag = global.get('diego_win_flag');\n\nif(!diego_win_flag)\n{\n    msg.payload = \"0x417\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":1460,"wires":[["80a6f8d4.eb7198"]]},{"id":"80a6f8d4.eb7198","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_3_pub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1680,"y":1460,"wires":[]},{"id":"a1c94945.3faa58","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":2160,"wires":[["ecab14c9.1098d8"]]},{"id":"ecab14c9.1098d8","type":"function","z":"f5de0b7a.456158","name":"harp lasers on","func":"if(msg.payload === true)\n{\n    msg.payload = '0x32B';\n    return msg;    \n}","outputs":1,"noerr":0,"x":920,"y":2160,"wires":[["d1db12ec.9d5fd"]]},{"id":"d1db12ec.9d5fd","type":"mqtt out","z":"f5de0b7a.456158","name":"","topic":"/client_2_sub","qos":"0","retain":"false","broker":"987dc13b.90603","x":1270,"y":2160,"wires":[]},{"id":"52730d00.99a264","type":"function","z":"63ac9dc0.392334","name":"1 door unlock","func":"if(msg.payload === true)\n{\n    msg.payload = '0x32E';\n    return msg;    \n}","outputs":1,"noerr":0,"x":1420,"y":520,"wires":[["936025ee.84e258"]]},{"id":"1413338c.23746c","type":"function","z":"63ac9dc0.392334","name":"4 door unlock","func":"if(msg.payload === true)\n{\n    msg.payload = '0x336';\n    return msg;    \n}","outputs":1,"noerr":0,"x":1420,"y":480,"wires":[["936025ee.84e258"]]},{"id":"d06a16f3.2acb68","type":"function","z":"f5de0b7a.456158","name":"lamp 1 off","func":"if(msg.payload === true)\n{\n    msg.payload = '0x322';\n    return msg;    \n}","outputs":1,"noerr":0,"x":900,"y":1920,"wires":[["c0b55972.e7b348"]]},{"id":"d972e52d.c54f68","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1920,"wires":[["d06a16f3.2acb68"]]},{"id":"dcc44a61.dfd168","type":"function","z":"f5de0b7a.456158","name":"lamp 2 off","func":"if(msg.payload === true)\n{\n    msg.payload = '0x324';\n    return msg;    \n}","outputs":1,"noerr":0,"x":900,"y":1960,"wires":[["c0b55972.e7b348"]]},{"id":"ad594e9e.d7a4","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"2100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1960,"wires":[["dcc44a61.dfd168"]]},{"id":"f054a703.a2e188","type":"function","z":"f5de0b7a.456158","name":"lamp 3 off","func":"if(msg.payload === true)\n{\n    msg.payload = '0x326';\n    return msg;    \n}","outputs":1,"noerr":0,"x":900,"y":2000,"wires":[["c0b55972.e7b348"]]},{"id":"9b857f8d.75ebd","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"2200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":2000,"wires":[["f054a703.a2e188"]]},{"id":"f834b127.d2841","type":"function","z":"f5de0b7a.456158","name":"lamp 4 off","func":"if(msg.payload === true)\n{\n    msg.payload = '0x328';\n    return msg;    \n}","outputs":1,"noerr":0,"x":900,"y":2040,"wires":[["c0b55972.e7b348"]]},{"id":"34261eaf.fb9da2","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"2300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":2040,"wires":[["f834b127.d2841"]]},{"id":"b38f94ff.872b48","type":"function","z":"f5de0b7a.456158","name":"lamp 5 off","func":"if(msg.payload === true)\n{\n    msg.payload = '0x32A';\n    return msg;    \n}","outputs":1,"noerr":0,"x":900,"y":2080,"wires":[["c0b55972.e7b348"]]},{"id":"56406da4.7d07a4","type":"delay","z":"f5de0b7a.456158","name":"","pauseType":"delay","timeout":"2400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":2080,"wires":[["b38f94ff.872b48"]]}]